<div class="flex items-center">
  <input id="default-checkbox" [formControl]="control" type="checkbox" value="" class="w-4 h-4 text-rose-600 bg-gray-100 border-gray-300 rounded focus:ring-rose-500 dark:focus:ring-rose-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
  <label for="default-checkbox" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{title}}</label>
</div>
<span
  *ngIf=" control.hasError('required') && control.touched"
  class="text-rose-600 text-sm">
                        *Please agree
                      </span>
