<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="card p-4 shadow">
     <form [formGroup]="contactDetailsForm" class="card-body">
       <div class="row">
         <div class="col-md-12 col-lg-12 col-sm-12">
           <h6 class="subtitle">Contact & Location Details</h6>
         </div>
       </div>
       <div class="row pt-3 g-4">
         <div class="col-md-12 col-lg-12 col-sm-12">
           <div class="row g-4">
             <div class="col-md-6 col-lg-6 col-sm-12">
               <tui-input
                 formControlName="firstName"
                 tuiTextfieldSize="m"
                 [tuiTextfieldCleaner]="true"
               >
                 Enter first name
                 <input
                   tuiTextfield
                   type="text"
                 />
               </tui-input>
             </div>
             <div class="col-md-6 col-lg-6 col-sm-12">
               <tui-input
                 formControlName="last_name"
                 tuiTextfieldSize="m"
                 [tuiTextfieldCleaner]="true"
               >
                 Enter last name
                 <input
                   tuiTextfield
                   type="text"
                 />
               </tui-input>
             </div>
             <div class="col-md-12 col-lg-12 col-sm-12">
               <tui-input
                 formControlName="email_address"
                 tuiTextfieldSize="m"
                 [tuiTextfieldCleaner]="true"
               >
                 Enter email address
                 <input
                   tuiTextfield
                   type="email"
                 />
               </tui-input>
             </div>
             <div class="col-md-12 col-lg-12 col-sm-12">
               <tui-input
                 formControlName="phone_number"
                 tuiTextfieldSize="m"
                 [tuiTextfieldCleaner]="true"
               >
                 Enter phone number
                 <input
                   tuiTextfield
                   type="text"
                 />
               </tui-input>
             </div>
             <div class="col-md-12 col-lg-12 col-sm-12">
               <tui-input
                 formControlName="address_line_1"
                 tuiTextfieldSize="m"
                 [tuiTextfieldCleaner]="true"
               >
                 Enter address line 1
                 <input
                   tuiTextfield
                   type="text"
                 />
               </tui-input>
             </div>
             <div class="col-md-12 col-lg-12 col-sm-12">
               <tui-input
                 formControlName="address_line_2"
                 tuiTextfieldSize="m"
                 [tuiTextfieldCleaner]="true"
               >
                 Enter address line 2
                 <input
                   tuiTextfield
                   type="text"
                 />
               </tui-input>
             </div>
             <div class="col-md-5 col-lg-5 col-sm-12">
               <tui-select
                 tuiTextfieldSize="m"
                 [tuiTextfieldLabelOutside]="true"
                 formControlName="city"
               >
               </tui-select>
             </div>
             <div class="col-md-5 col-lg-5 col-sm-12">
               <tui-select
                 tuiTextfieldSize="m"
                 [tuiTextfieldLabelOutside]="true"
                 formControlName="states"
               >
               </tui-select>
             </div>
             <div class="col-md-2 col-lg-2 col-sm-12">
               <tui-input
                 formControlName="postcode"
                 tuiTextfieldSize="m"
                 [tuiTextfieldCleaner]="true"
               >
                 Enter postcode
                 <input
                   tuiTextfield
                   type="text"
                 />
               </tui-input>
             </div>
           </div>

         </div>
       </div>
     </form>
    </div>
  </div>
</div>
