<form class="row g-4" [formGroup]="documentAndCredentialsForm" (ngSubmit)="submitDocumentAndCredentials()">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12">
        <label [tuiLabel]="label">
        </label>
        <ng-template #label>
      <span>
        IC/Driving License/Passport
      </span>
          <tui-tooltip
            content="Upload front and back of your IC/Driving License/Passport"
            describeId="uniqueId"
            direction="top-right"
          ></tui-tooltip>
        </ng-template>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-12">
        <app-multiple-file-upload [multiple]="true" [control]="personalIdentificationFormControl"></app-multiple-file-upload>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12">
        <label [tuiLabel]="awardLabel">
        </label>
        <ng-template #awardLabel>
      <span class="subtitle">
        Awards (Optional)
      </span>
          <tui-tooltip
            content="This is the name"
            describeId="uniqueId"
            direction="top-right"
          ></tui-tooltip>
        </ng-template>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-12">
        <app-multiple-file-upload [multiple]="true" [control]="awardsFormControl"></app-multiple-file-upload>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12">
        <label [tuiLabel]="serviceOffered">
        </label>
        <ng-template #serviceOffered>
      <span class="subtitle">
        Customer Testimonials (Optional)
      </span>
          <tui-tooltip
            content="This is the name1"
            describeId="uniqueId"
            direction="top-right"
          ></tui-tooltip>
        </ng-template>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-12">
        <app-multiple-file-upload [multiple]="true" [control]="customerTestimonialsFormControl"></app-multiple-file-upload>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-sm-12" formGroupName="social_media_link">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-12">
        <label [tuiLabel]="serviceCoverage">
        </label>
        <ng-template #serviceCoverage>
      <span class="subtitle">
        Social Media Link
      </span>
          <tui-tooltip
            content="This is the name1"
            describeId="uniqueId"
            direction="top-right"
          ></tui-tooltip>
        </ng-template>
      </div>
      <div class="col-md-9 col-lg-9 col-sm-12">
        <div class="row g-2">
          <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="row g-2">
              <div class="col-md-12 col-lg-12 col-sm-12">
                <label>
                  Facebook
                </label>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <tui-input
                  formControlName="facebook"
                  tuiTextfieldSize="m"
                  [tuiTextfieldCleaner]="true"
                >
                  Type your facebook page link
                  <input
                    tuiTextfield
                    type="text"
                  />
                </tui-input>
                <tui-error
                  formControlName="facebook"
                  [error]="[] | tuiFieldError | async"
                ></tui-error>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="row g-2">
              <div class="col-md-12 col-lg-12 col-sm-12">
                <label>
                  Instagram
                </label>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <tui-input
                  formControlName="instagram"
                  tuiTextfieldSize="m"
                  [tuiTextfieldCleaner]="true"
                >
                  Type your instagram page link
                  <input
                    tuiTextfield
                    type="text"
                  />
                </tui-input>
                <tui-error
                  formControlName="instagram"
                  [error]="[] | tuiFieldError | async"
                ></tui-error>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="row g-2">
              <div class="col-md-12 col-lg-12 col-sm-12">
                <label>
                  Tiktok
                </label>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <tui-input
                  formControlName="tiktok"
                  tuiTextfieldSize="m"
                  [tuiTextfieldCleaner]="true"
                >
                  Type your tiktok page link
                  <input
                    tuiTextfield
                    type="text"
                  />
                </tui-input>
                <tui-error
                  formControlName="tiktok"
                  [error]="[] | tuiFieldError | async"
                ></tui-error>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="d-flex justify-content-between">
      <button class="btn btn-outline-primary" type="button" [routerLink]="'../'+routes[currentIndex-1].path" (click)="setActiveIndex(currentIndex-1)">
        Back
      </button>
      <button class="btn btn-primary" type="submit">Next
      </button>
    </div>
  </div>
</form>
