<div class="px-4">
  <div class="flex justify-between py-10 flex-wrap">
  <div class="flex flex-col gap-3">
    <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
    <div class="flex justify-between gap-10 min-w-full">
      <div>
        <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">All Frequently Asked Questions</h1>
      </div>
      <div>
        <app-button text="Add faq" (click)="addFAQ()"></app-button>
      </div>

    </div>
  </div>
</div>
<ng-container *ngIf="faqs$ | async as faqs">
  <div class="border rounded p-12 mb-10"  *ngFor="let faq of faqs;let i = index;">
    <div class="flex gap-3 w-100 flex-col">
      <div>
        <div class="flex gap-3">
          <label for="title" class="block mb-2 text-sm font-medium text-gray-900">Title
          </label>
        </div>
        <input type="text" name="title" id="title"
               class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5  dark:placeholder-gray-400 dark:focus:ring-rose-600 dark:focus:border-rose-600"
               [ngClass]="faqFormArray.at(i).get('title')?.touched && faqFormArray.at(i).get('title')?.errors ? 'ring-1 ring-rose-600' : ''"
               [formControl]="getTitleControl(i)">
        <span *ngIf="(faqFormArray.at(i).get('title')?.hasError('required')) && faqFormArray.at(i).get('title')?.touched"
              class="text-rose-600 text-sm">
                                *Title is required
                              </span>
      </div>
      <div>
        <div class="flex gap-3">
          <label for="title" class="block mb-2 text-sm font-medium text-gray-900">Description
          </label>
        </div>
        <input type="text" name="description" id="description"
               class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5  dark:placeholder-gray-400 dark:focus:ring-rose-600 dark:focus:border-rose-600"
               [ngClass]="faqFormArray.at(i).get('description')?.touched && faqFormArray.at(i).get('description')?.errors ? 'ring-1 ring-rose-600' : ''"
               [formControl]="getDescriptionControl(i)">
        <span *ngIf="(faqFormArray.at(i).get('description')?.hasError('required')) && faqFormArray.at(i).get('description')?.touched"
              class="text-rose-600 text-sm">
                                *Description is required
                              </span>
      </div>
    </div>
    <div class="pt-5">
      <app-button text="Remove" (click)="removeFAQ(i)"></app-button>
    </div>
  </div>
</ng-container>
</div>
