::ng-deep .carousel-control-prev-icon {
  background-image: url('https://apufpel.com.br/assets/img/seta_prim.png') !important;
}

::ng-deep .carousel-control-next-icon {
  background-image: url('https://apufpel.com.br/assets/img/seta_ult.png') !important;
}


.mat-card{
  padding: 0 0 30px;
}

.mat-card-header{
  padding-top:10px;
  padding-left:15px;
  background-color: #a2a2a2;
}

.description{
  padding:0 15px 0 15px;
}

.mat-card-actions{
  padding:0 30px;
}

.mat-icon {
  font-size: 20px;
  height: 20px ;
  width: 20px;
}
