<div class="bg-gray-50 dark:bg-gray-800 rounded-lg p-4 lg:p-6">
  <h3 class="text-gray-900 dark:text-white text-lg font-semibold mb-4">Add a review</h3>
  <form [formGroup]="reviewForm" id="add-review">
    <div class="mb-4 grid grid-cols-2 gap-4">
      <div class="col-span-2">
        <div class="flex items-center">
          <tui-rating
            tuiTextfieldSize="s"
            class="text-yellow-400"
            [formControl]="ratingControl"
          ></tui-rating>

        </div>
      </div>
      <div class="col-span-2">
        <app-textarea [control]="descriptionControl" title="Review Description" placeholder="Write Review"></app-textarea>
      </div>
      <div class="col-span-2">
        <div class="flex items-center">
          <app-checkbox [control]="termAndConditionControl" title="By publishing this review you agree with the terms and conditions"></app-checkbox>
        </div>
      </div>
    </div>
    <div>
      <app-button (click)="submitReview()">Submit review</app-button>
    </div>
  </form>
</div>

<!--&lt;!&ndash; Report modal &ndash;&gt;-->
<!--<div id="report-modal" tabindex="-1" aria-hidden="true" class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden antialiased antialiased md:inset-0">-->
<!--  <div class="relative max-h-full w-full max-w-lg p-4">-->
<!--    &lt;!&ndash; Modal content &ndash;&gt;-->
<!--    <div class="relative rounded-lg bg-white shadow dark:bg-gray-800">-->
<!--      &lt;!&ndash; Modal header &ndash;&gt;-->
<!--      <div class="flex items-center justify-between rounded-t border-b border-gray-200 p-4 dark:border-gray-700 md:p-5">-->
<!--        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">File a report</h3>-->
<!--        <button type="button" class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="report-modal">-->
<!--          <svg class="h-3 w-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">-->
<!--            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />-->
<!--          </svg>-->
<!--          <span class="sr-only">Close modal</span>-->
<!--        </button>-->
<!--      </div>-->
<!--      &lt;!&ndash; Modal body &ndash;&gt;-->
<!--      <form class="p-4 md:p-5">-->
<!--        <div class="mb-4 grid grid-cols-2 gap-4">-->
<!--          <div class="col-span-2">-->
<!--            <label for="issue-radio" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">What kind of issue you're having?</label>-->
<!--            <div class="mb-2 flex items-center">-->
<!--              <input id="issue-radio" type="radio" value="" name="issue-radio" class="h-4 w-4 border-gray-300 bg-gray-100 text-primary-600 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" />-->
<!--              <label for="issue-radio" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Report listing abuse</label>-->
<!--            </div>-->
<!--            <div class="flex items-center">-->
<!--              <input checked id="issue-radio-2" type="radio" value="" name="issue-radio" class="h-4 w-4 border-gray-300 bg-gray-100 text-primary-600 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" />-->
<!--              <label for="issue-radio-2" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Report a violation</label>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-span-2">-->
<!--            <label for="reason" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Report reason</label>-->
<!--            <input type="text" name="reason" id="reason" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-600 focus:ring-primary-600 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" required="" />-->
<!--          </div>-->
<!--          <div class="col-span-2">-->
<!--            <label for="description" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Describe your issue</label>-->
<!--            <textarea id="description" rows="6" class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-primary-500 focus:ring-primary-500 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder:text-gray-400 dark:focus:border-primary-500 dark:focus:ring-primary-500" required=""></textarea>-->
<!--          </div>-->
<!--          <div class="col-span-2">-->
<!--            <label class="mb-2 block text-sm font-medium text-gray-900 dark:text-white" for="file_input">Add an attachment</label>-->
<!--            <input class="block w-full cursor-pointer rounded-lg border border-gray-300 bg-gray-50 text-sm text-gray-900 focus:outline-none dark:border-gray-600 dark:bg-gray-700 dark:text-gray-400 dark:placeholder:text-gray-400" id="file_input" type="file" />-->
<!--          </div>-->
<!--          <div class="col-span-2">-->
<!--            <div class="flex items-center">-->
<!--              <input id="link-checkbox" type="checkbox" value="" class="h-4 w-4 rounded border-gray-300 bg-gray-100 text-primary-600 focus:ring-2 focus:ring-primary-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-primary-600" />-->
<!--              <label for="link-checkbox" class="ms-2 text-sm font-medium text-gray-500 dark:text-gray-400">I have read and agree with the <a href="#" class="text-primary-600 hover:underline dark:text-primary-500">terms and conditions</a>.</label>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="border-t border-gray-200 pt-4 dark:border-gray-700 md:pt-5">-->
<!--          <button type="submit" class="me-2 inline-flex items-center rounded-lg bg-primary-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-primary-800 focus:outline-none focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Send report</button>-->
<!--          <button type="button" data-modal-toggle="report-modal" class="me-2 rounded-lg border border-gray-200 bg-white px-5 py-2.5 text-sm font-medium text-gray-900 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white dark:focus:ring-gray-700">Cancel</button>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
