<div class="px-2 sm:px-12 py-8 bg-gray-100">

<div class="py-6">
  <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
</div>
  <div class="px-2">
    <div class="flex flex-col gap-3">
      <div class="flex items-center gap-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 13.5V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m12-3V3.75m0 9.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 3.75V16.5m-6-9V3.75m0 3.75a1.5 1.5 0 0 1 0 3m0-3a1.5 1.5 0 0 0 0 3m0 9.75V10.5" />
        </svg>
        <h4 class="text-2xl">Account Settings</h4>
      </div>
      <h6 class="text-gray-500">Change your profile and account settings</h6>
    </div>
    <div class="md:flex my-5 bg-white shadow-sm">
      <ul class="flex-column text-sm font-medium text-gray-500 mb-4 md:mb-0 sm:w-60 w-full border-r-2">
        <li>
          <a (click)="switchTab('profile')" [ngClass]="selectedTab === 'profile' ? 'text-black' : ''" class="hover:text-black cursor-pointer inline-flex px-6 py-6 rounded-lg active w-full" aria-current="page">
            <svg class="w-5 h-5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" [ngClass]="selectedTab === 'profile' ? 'text-rose-600' : ''">
              <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
            </svg>
            Profile
          </a>
        </li>
        <li>
          <a (click)="switchTab('change-password')" [ngClass]="selectedTab === 'password' ? 'text-black' : ''" class="hover:text-black cursor-pointer inline-flex items-center px-6 py-6 rounded-lg  w-full">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 me-2" [ngClass]="selectedTab === 'change-password' ? 'text-rose-600' : ''">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
            </svg>

            Change Password
          </a>
        </li>
        <li>
          <a (click)="logout()" class="hover:text-black cursor-pointer inline-flex items-center  px-6 py-6 rounded-lg w-full">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 me-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75" />
            </svg>
            Logout
          </a>
        </li>
        <!--    <li>-->
        <!--      <a href="#" class="inline-flex items-center px-4 py-3 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white">-->
        <!--        <svg class="w-4 h-4 me-2 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">-->
        <!--          <path d="M7.824 5.937a1 1 0 0 0 .726-.312 2.042 2.042 0 0 1 2.835-.065 1 1 0 0 0 1.388-1.441 3.994 3.994 0 0 0-5.674.13 1 1 0 0 0 .725 1.688Z"/>-->
        <!--          <path d="M17 7A7 7 0 1 0 3 7a3 3 0 0 0-3 3v2a3 3 0 0 0 3 3h1a1 1 0 0 0 1-1V7a5 5 0 1 1 10 0v7.083A2.92 2.92 0 0 1 12.083 17H12a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h1a1.993 1.993 0 0 0 1.722-1h.361a4.92 4.92 0 0 0 4.824-4H17a3 3 0 0 0 3-3v-2a3 3 0 0 0-3-3Z"/>-->
        <!--        </svg>-->
        <!--        Contact-->
        <!--      </a>-->
        <!--    </li>-->
        <!--    <li>-->
        <!--      <a class="inline-flex items-center px-4 py-3 text-gray-400 rounded-lg cursor-not-allowed bg-gray-50 w-full dark:bg-gray-800 dark:text-gray-500">-->
        <!--        <svg class="w-4 h-4 me-2 text-gray-400 dark:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">-->
        <!--          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>-->
        <!--        </svg>-->
        <!--        Disabled</a>-->
        <!--    </li>-->
      </ul>
      <div class="py-16 px-3 sm:px-12 text-medium text-white-500 dark:text-gray-400 rounded-lg w-full">
        <ng-container [ngSwitch]="selectedTab">
          <ng-container *ngSwitchCase="'profile'">
            <main class="text-lg text-gray-900" *ngIf="(user$ | async) as user;">
              <div class="flex flex-col gap-6">
                <div class="flex items-center">
                     <span class=" bg-gray-100 p-4 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-9 h-9 text-rose-600">
  <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
</svg>

                  </span>
                </div>
                <h6>Profile Information</h6>
                <p class="text-gray-500 text-sm">To change your profile information, please fill in the fields below</p>
              </div>
              <div class="grid grid-cols-1 md:grid-cols-3 gap-8 pt-7">
                <form class="grid gap-6 mb-6 md:grid-cols-2 md:col-span-2" [formGroup]="userProfileForm" (ngSubmit)="updateProfile()">
                  <div class="col-span-2 sm:col-span-1">
                    <div class="flex gap-3">
                      <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email
                      </label>
                      <svg  data-tooltip-target="email-verify-tooltip" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5" [ngClass]="user.emailVerified ? 'text-green-400' : 'text-yellow-200'">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z" />
                      </svg>
                      <div id="email-verify-tooltip" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        {{user.emailVerified ? 'Email is verified' : 'Email is not verified'}}
                        <div class="tooltip-arrow" data-popper-arrow></div>
                      </div>
                    </div>
                    <input type="email" name="email" id="email"
                           class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5  dark:placeholder-gray-400 dark:focus:ring-rose-600 dark:focus:border-rose-600"
                           [ngClass]="usernameControl.touched && usernameControl.errors ? 'ring-1 ring-rose-600' : ''"
                           formControlName="username">
                    <span *ngIf="(usernameControl.hasError('required')) && usernameControl.touched" class="text-rose-600 text-sm">
                                *Email is required
                              </span>
                    <span *ngIf="(usernameControl.hasError('usernameExists')) && usernameControl.touched"
                          class="text-rose-600 text-sm">
                                *Email has been taken
                              </span>
                    <span *ngIf="(usernameControl.hasError('pattern')) && usernameControl.touched" class="text-rose-600 text-sm">
                                *Email is invalid
                              </span>
                  </div>
                  <div formGroupName="profile" class="col-span-2 sm:col-span-1">
                    <label  class="block mb-2 text-sm font-medium text-gray-900">Your phone number</label>
                    <app-phone-input #phoneInput [control]="phoneNumberControl"></app-phone-input>

                    <!--        <input type="tel" name="phone_number" id="phone_number"-->
                    <!--               class="bg-gray-50 border border-gray-300 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5  dark:placeholder-gray-400 dark:focus:ring-rose-600 dark:focus:border-rose-600"-->
                    <!--               [ngClass]="phoneNumberControl.touched && phoneNumberControl.errors ? 'ring-1 ring-rose-600' : ''"-->
                    <!--               formControlName="phone_number">-->
                    <span *ngIf="(phoneNumberControl.hasError('required')) && phoneNumberControl.touched"
                          class="text-rose-600 text-sm">
                                *Phone number is required
                              </span>
                    <span *ngIf="(phoneNumberControl.hasError('phoneNumberExists')) && phoneNumberControl.touched"
                          class="text-rose-600 text-sm">
                                *Phone number has been taken
                              </span>
                  </div>
                  <div formGroupName="profile" class="col-span-2">
                    <div  class="grid gap-6 mb-6 md:grid-cols-2" formGroupName="address">
                      <div class="col-span-2 sm:col-span-1">
                        <label for="address_line_1" class="block mb-2 text-sm font-medium text-gray-900">Address Line 1</label>
                        <input type="text" name="address_line_1" id="address_line_1"
                               class="bg-gray-50 border border-gray-300  sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-rose-600 dark:focus:border-rose-600"
                               [ngClass]="addressLine1Control.touched && addressLine1Control.errors ? 'ring-1 ring-rose-600' : ''"
                               formControlName="address_line_1">
                        <span *ngIf="(addressLine1Control.hasError('required')) && addressLine1Control.touched"
                              class="text-rose-600 text-sm">
                                *Address line 1 is required
                              </span>
                      </div>
                      <div class="col-span-2 sm:col-span-1">
                        <label for="address_line_2" class="block mb-2 text-sm font-medium text-gray-900">Address Line 2 (Optional)</label>
                        <input type="text" name="address_line_2" id="address_line_2"
                               class="bg-gray-50 border border-gray-300  sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-rose-600 dark:focus:border-rose-600"
                               [ngClass]="addressLine2Control.touched && addressLine2Control.errors ? 'ring-1 ring-rose-600' : ''"
                               formControlName="address_line_2">
                        <span *ngIf="(addressLine2Control.hasError('required')) && addressLine2Control.touched"
                              class="text-rose-600 text-sm">
                                *Address line 2 is required
                              </span>
                      </div>
                      <div class="col-span-2 sm:col-span-1">
                        <label for="city" class="block mb-2 text-sm font-medium text-gray-900 ">City</label>
                        <input type="text" name="city" id="city"
                               class="bg-gray-50 border border-gray-300  sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-rose-600 dark:focus:border-rose-600"
                               [ngClass]="cityControl.touched && cityControl.errors ? 'ring-1 ring-rose-600' : ''"
                               formControlName="city">
                        <span *ngIf="(cityControl.hasError('required')) && cityControl.touched"
                              class="text-rose-600 text-sm">
                                *City is required
                              </span>
                      </div>
                      <div class="col-span-2 sm:col-span-1">
                        <label for="state" class="block mb-2 text-sm font-medium text-gray-900">State</label>
                        <input type="text" name="state" id="state"
                               class="bg-gray-50 border border-gray-300  sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-rose-600 dark:focus:border-rose-600"
                               [ngClass]="stateControl.touched && stateControl.errors ? 'ring-1 ring-rose-600' : ''"
                               formControlName="state">
                        <span *ngIf="(stateControl.hasError('required')) && stateControl.touched"
                              class="text-rose-600 text-sm">
                                *State is required
                              </span>
                      </div>
                      <div class="col-span-2 sm:col-span-1">
                        <app-zipcode-input [control]="zipcodeControl"></app-zipcode-input>
                        <!--                <input type="text" name="zipcode" id="zipcode"-->
                        <!--                       class="bg-gray-50 border border-gray-300  sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-rose-600 dark:focus:border-rose-600"-->
                        <!--                       [ngClass]="zipcodeControl.touched && zipcodeControl.errors ? 'ring-1 ring-rose-600' : ''"-->
                        <!--                       formControlName="zipcode">-->
                        <!--                <span *ngIf="(zipcodeControl.hasError('required')) && zipcodeControl.touched"-->
                        <!--                      class="text-rose-600 text-sm">-->
                        <!--                                *Zipcode is required-->
                        <!--                              </span>-->
                      </div>
                    </div>
                  </div>
                  <div class="col-span-2 flex items-center justify-between flex-col w-full">
                            <button
                                   (click)="updateProfile()" class="w-full text-white bg-rose-600 hover:bg-rose-700 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
                            >Update Profile
                            </button>
                  </div>
                </form>
                <div class="flex flex-col gap-4 px-3 sm:px-12 items-center">
                  <tui-avatar size="xxl"
                              text="{{user?.displayName}}"
                              class="tui-space_top-1"
                  ></tui-avatar>
                  <button *ngIf="!user.emailVerified" class="w-full text-white bg-rose-600 hover:bg-rose-700 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center" (click)="verifyEmail(user)">Verify Email</button>
                  <!--              <button type="submit" class="w-full text-white bg-rose-600 hover:bg-rose-700 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Change Password</button>-->
                </div>
              </div>
            </main>
          </ng-container>
          <ng-container *ngSwitchCase="'change-password'">
            <app-change-password>

            </app-change-password>
          </ng-container>
        </ng-container>
      </div>

    </div>
  </div>

</div>
<!--<app-map></app-map>-->
<!--<div style="height: 300px;" id="map"-->
<!--     leaflet-->
<!--     [leafletLayers]="layers"-->
<!--     [leafletOptions]="options"-->
<!--(leafletMapReady)="onMapReady($event)">-->
<!--</div>-->

<app-alert-dialog [isShowing]="isShowingAlert | async"></app-alert-dialog>
