<div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
  <!-- Modal content -->
  <div class="relative p-4 bg-white rounded-lg dark:bg-gray-800 sm:p-5">
    <!-- Modal header -->
    <div class="flex justify-between items-center pb-4 mb-4 sm:mb-5">
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Update Service Provider Details
      </h3>
      <button type="button" (click)="closeModal()"
              class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white"
              data-modal-toggle="updateUserModal">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
             xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
    <!-- Modal body -->
    <form *ngIf="serviceProviderDetails$ | async as serviceProviderDetails">
      <div class="grid gap-4 mb-4 sm:grid-cols-1">
        <span class="text-slate-500">Business Information</span>
        <div>
          <app-text-input placeholder="Name" [control]="nameControl" title="Name"></app-text-input>
        </div>
        <div>
          <app-text-input placeholder="Email address" [control]="emailControl" title="Email Address"></app-text-input>
        </div>
        <div>
          <label class="inline-flex items-center cursor-pointer">
            <input [formControl]="verifiedControl" type="checkbox" value="" class="sr-only peer">
            <div
              class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Email Verified</span>
          </label>
        </div>
        <div>
          <app-text-input placeholder="Whatsapp number" [control]="whatsappControl"
                          title="Whatsapp Number"></app-text-input>
        </div>
        <div>
          <app-text-input placeholder="Phone number" [control]="phoneNumberControl"
                          title="Phone Number"></app-text-input>
        </div>
        <div>
          <app-textarea title="Overview" placeholder="Overview of Service Provider" [control]="overviewControl"></app-textarea>
        </div>
      </div>
      <div class="grid gap-4 mb-4 sm:grid-cols-1">
        <div>
          <app-text-input [control]="line1Control" title="Address Line 1" placeholder="Address Line 1"></app-text-input>
        </div>
        <div>
          <app-text-input [control]="line2Control" title="Address Line 2" placeholder="Address Line 2"></app-text-input>
        </div>
      </div>
      <div class="grid gap-4 mb-4 sm:grid-cols-2">
        <div *ngIf="stateItems$ | async as stateItems">
          <app-dropdown [control]="stateControl" [items]="stateItems" title="State"
                        placeholder="Select a state"></app-dropdown>
        </div>
        <div *ngIf="cityItems$ | async as cityItems">
          <app-dropdown [control]="cityControl" [items]="cityItems" title="City"
                        placeholder="Select a city"></app-dropdown>
        </div>
        <div>
          <app-zipcode-input [control]="zipcodeControl"></app-zipcode-input>
        </div>
      </div>
      <div class="grid gap-4 mb-4 sm:grid-cols-1">
        <div *ngIf="serviceItems$ | async as serviceItems">
          <app-dropdown-checkbox [label]="'Select service state coverage'" [dataList]="serviceItems"
                                 [formArray]="serviceFormArray"></app-dropdown-checkbox>
        </div>
      </div>
      <div class="grid gap-4 mb-4 sm:grid-cols-1">
        <span class="text-slate-500">Business Coverage</span>
        <div *ngIf="stateItems$ | async as stateItems">
          <app-dropdown-checkbox [label]="'Select service state coverage'" [dataList]="stateItems"
                                 [formArray]="stateCoverageFormArray"></app-dropdown-checkbox>
        </div>
        <div *ngIf="cityItems$ | async as cityItems">
          <app-dropdown-checkbox [label]="'Select service city coverage'" [dataList]="cityItems"
                                 [formArray]="cityCoverageFormArray"></app-dropdown-checkbox>
        </div>
      </div>
      <!--      <div class="grid gap-4 mb-4 sm:grid-cols-1">-->
      <!--        <div>-->
      <!--          <app-text-input [control]="line1Control" title="Address Line 1"></app-text-input>-->
      <!--        </div>-->
      <!--        <div>-->
      <!--          <app-text-input [control]="line2Control" title="Address Line 2"></app-text-input>-->
      <!--        </div>-->
      <!--      </div>-->
      <!--      <div class="grid gap-4 mb-4 sm:grid-cols-3">-->
      <!--        <div *ngIf="stateItems$ | async as stateItems">-->
      <!--          <app-dropdown [control]="stateControl" [items]="stateItems" title="Select a state" [compare]="compareState"></app-dropdown>-->
      <!--        </div>-->
      <!--        <div *ngIf="cityItems$ | async as cityItems">-->
      <!--          <app-dropdown [control]="cityControl" [items]="cityItems" title="Select a state"></app-dropdown>-->
      <!--        </div>-->
      <!--        <div>-->
      <!--          <app-zipcode-input [control]="zipcodeControl" ></app-zipcode-input>-->
      <!--        </div>-->
      <!--      </div>-->
      <div class="flex justify-end">
        <app-button text="Update Service Provider" (click)="update()"></app-button>
      </div>
    </form>
  </div>
</div>

