<div id="readProductModal" tabindex="-1" aria-hidden="true"
     class="overflow-y-auto overflow-x-hidden top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full"
     *ngIf="appointmentInfo$ | async as appointmentInfo">
  <div class="relative p-4 w-full max-w-3xl h-full md:h-auto">
    <!-- Modal content -->
    <div class="relative p-4 bg-white rounded-lg dark:bg-gray-800 sm:p-5">
      <!-- Modal header -->
      <div class="flex justify-between mb-4 rounded-t sm:mb-5">
        <div class="text-lg text-gray-900 md:text-xl dark:text-white">
          <h3 class="font-semibold">
            Appointment #{{data.appointment.id}}
          </h3>

          <p class="font-bold">
            Estimated price: {{data.appointment.estimated_price | currency : ' MYR'}}
          </p>
        </div>
        <div>
          <button type="button"
                  class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 inline-flex dark:hover:bg-gray-600 dark:hover:text-white"
                  data-modal-toggle="readProductModal" (click)="close()">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
      </div>
      <dl class="sm:mb-5">
        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Job Status</dt>
        <dd>
          <app-badge [text]="appointmentInfo[2].status === 'COMPLETED' ? 'Completed' : appointmentInfo[2].status === 'CANCELLED' ? 'Cancelled' : appointmentInfo[2].status === 'PENDING' ? 'Pending' :
                appointmentInfo[2].status === 'WORK_IN_PROGRESS' ? 'Work in progress' : appointmentInfo[2].status === 'CONFIRMED' ? 'Confirmed' : appointmentInfo[2].status === 'REVIEW' ? 'Review By Admin' :
          appointmentInfo[2].status === 'WORK_COMPLETED' ? 'Work is completed' : ''"
                     [status]="appointmentInfo[2].status === 'COMPLETED' ? 'completed' : appointmentInfo[2].status === 'CANCELLED' ? 'cancelled' : appointmentInfo[2].status === 'PENDING' ? 'pending' :
                appointmentInfo[2].status === 'WORK_IN_PROGRESS' || appointmentInfo[2].status === 'CONFIRMED' || appointmentInfo[2].status === 'REVIEW' || appointmentInfo[2].status === 'WORK_COMPLETED' ? 'normal' : ''"></app-badge>
        </dd>
        <ng-template #notPaid>
          <dd>
            <app-badge text="Not Paid" [status]="'incomplete'"></app-badge>
          </dd>
        </ng-template>
      </dl>
      <dl class="sm:mb-5">
        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Payment Status</dt>
        <dd *ngIf="data.appointment.is_paid; else notPaid;">
          <app-badge text="Paid" [status]="'completed'"></app-badge>
        </dd>
        <ng-template #notPaid>
          <dd>
            <app-badge text="Not Paid" [status]="'incomplete'"></app-badge>
          </dd>
        </ng-template>
      </dl>
      <dl class="sm:mb-5">
        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Service Requested</dt>
        <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">
          {{appointmentInfo[0].name}}
        </dd>
      </dl>
      <dl class="sm:mb-5">
        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Customer Details</dt>
        <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">{{appointmentInfo[1]?.first_name + ' ' + appointmentInfo[1].last_name}}</dd>
      </dl>
      <dl class="sm:mb-5">
        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Email Address</dt>
        <dd class="mb-4 font-light text-gray-500 sm:mb-5 dark:text-gray-400">{{appointmentInfo[1]?.email_address}}</dd>
      </dl>
      <dl class="sm:mb-5">
        <dt class="mb-2 font-semibold leading-none text-gray-900 dark:text-white">Address</dt>
        <dd class="text-gray-500 dark:text-gray-400">
          {{appointmentInfo[1].address.line_1}},
          {{appointmentInfo[1].address.line_2}},
          {{appointmentInfo[1].address.city}},
          {{appointmentInfo[1].address.state}},
          {{appointmentInfo[1].address.zipcode}}
        </dd>
      </dl>
      <div class="flex justify-between items-center">
        <ng-container [ngSwitch]="appointmentInfo[2].status">
          <ng-container *ngSwitchCase="'WORK_COMPLETED'">
            Pending to review
           <app-button text="View Screenshots" (click)="viewScreenshots(appointmentInfo[2].appointment_completion_images)"></app-button>
          </ng-container>
          <ng-container *ngSwitchCase="'WORK_IN_PROGRESS'">
            <app-button (click)="completeAppointment()" text="Complete Appointment">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
              </svg>
            </app-button>
          </ng-container>
          <ng-container *ngSwitchCase="'PENDING'">
            <ng-container *ngIf="appointmentInfo[2].is_paid">
              <form class="flex gap-10 flex-col">
                <app-dropdown title="Status" [items]="statusItems" [control]="statusControl" placeholder="Please select a status"></app-dropdown>
                <app-button (click)="updateStatus()" text="Update Status">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                  </svg>
                </app-button>
              </form>
            </ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'CONFIRMED'">
            <form class="flex gap-10 flex-col">
              <app-dropdown title="Status" [items]="statusItems" [control]="statusControl" placeholder="Please select a status"></app-dropdown>
              <app-button (click)="updateStatus()" text="Update Status">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                </svg>
              </app-button>
            </form>
          </ng-container>
        </ng-container>
<!--        <ng-template #complete>-->
<!--          <app-button (click)="completeAppointment()" text="Complete Appointment">-->
<!--            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">-->
<!--              <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />-->
<!--            </svg>-->
<!--          </app-button>-->
<!--        </ng-template>-->
      </div>
    </div>
  </div>
</div>
