<div class="row justify-content-center py-5">
  <div class="col-md-4 col-lg-4 col-sm-4">
    <div class="card py-5 shadow-sm">
      <div class="card-body">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div>
            <fa-icon [icon]="faClock" size="8x" class="icon"></fa-icon>
          </div>
          <div class="content text-center">
            <h4>{{title}}</h4>
            <p class="text-gray">{{description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
