<ng-container *ngIf="{context : loggedInUsername$ | async } as loggedInUser">
  <ng-container *ngIf="loggedInUser.context">
    <ng-container *ngIf="{user: user$ | async, error: userError$ | async} as data">
      <ng-container *ngIf="data.user">
        <ng-container *ngIf="{completedOnboarding: completedOnBoarding$ | async} as value">
          <div id="marketing-banner" *ngIf="!value.completedOnboarding" tabindex="-1"
               class="fixed z-50 flex flex-col md:flex-row justify-between w-[calc(100%-2rem)] p-4 -translate-x-1/2 bg-white border border-gray-100 rounded-lg shadow-sm lg:max-w-7xl left-1/2 top-6 dark:bg-gray-700 dark:border-gray-600">
            <div class="flex flex-col items-start mb-3 me-4 md:items-center md:flex-row md:mb-0">
              <a href="https://flowbite.com/"
                 class="flex items-center mb-2 border-gray-200 md:pe-4 md:me-4 md:border-e md:mb-0 dark:border-gray-600">
                <img src="./assets/image/logo.png" class="h-6 me-2" alt="Flowbite Logo">
                <span class="self-center text-lg font-semibold whitespace-nowrap dark:text-white">LF Hardware</span>
              </a>
              <span class="flex items-center text-sm font-normal text-gray-500 dark:text-gray-400">Your account is almost ready..</span>
            </div>
            <div class="flex items-center flex-shrink-0">
              <a [routerLink]="['user-onboarding','role-confirmation']"
                 class="px-5 py-2 me-2 text-xs font-medium text-white bg-rose-700 rounded-lg hover:bg-rose-800 focus:ring-4 focus:ring-rose-300 dark:bg-rose-600 dark:hover:bg-rose-700 focus:outline-none dark:focus:ring-rose-800">Complete
                now</a>
              <!--          <button data-dismiss-target="#marketing-banner" type="button"-->
              <!--                  class="flex-shrink-0 inline-flex justify-center w-7 h-7 items-center text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 dark:hover:bg-gray-600 dark:hover:text-white">-->
              <!--            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">-->
              <!--              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
              <!--                    d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>-->
              <!--            </svg>-->
              <!--            <span class="sr-only">Close banner</span>-->
              <!--          </button>-->
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
<div class="bg-white">
  <!--
    Mobile menu

    Off-canvas menu for mobile, show/hide based on off-canvas menu state.
  -->
  <div class="relative z-40 lg:hidden transition-opacity" role="dialog" aria-modal="true" [hidden]="!isMobileMenuOpen">
    <!--
      Off-canvas menu backdrop, show/hide based on off-canvas menu state.

      Entering: "transition-opacity ease-linear duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "transition-opacity ease-linear duration-300"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-black bg-opacity-25"></div>

    <div class="fixed inset-0 z-40 flex">
      <!--
        Off-canvas menu, show/hide based on off-canvas menu state.

        Entering: "transition ease-in-out duration-300 transform"
          From: "-translate-x-full"
          To: "translate-x-0"
        Leaving: "transition ease-in-out duration-300 transform"
          From: "translate-x-0"
          To: "-translate-x-full"
      -->
      <div class="relative flex w-full max-w-xs flex-col overflow-y-auto bg-white pb-12 shadow-xl">
        <div class="flex px-4 pb-2 pt-5">
          <button type="button" class="-m-2 inline-flex items-center justify-center rounded-md p-2 text-gray-400"
                  (click)="openMobileMenu()">
            <span class="sr-only">Close menu</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                 aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
            </svg>
          </button>
        </div>

        <!-- Links -->
        <div class="mt-2">
          <!--          <div class="border-b border-gray-200">-->
          <!--            <div class="-mb-px flex space-x-8 px-4" aria-orientation="horizontal" role="tablist">-->
          <!--              &lt;!&ndash; Selected: "border-indigo-600 text-indigo-600", Not Selected: "border-transparent text-gray-900" &ndash;&gt;-->
          <!--              <button id="tabs-1-tab-1"-->
          <!--                      class="border-transparent text-gray-900 flex-1 whitespace-nowrap border-b-2 px-1 py-4 text-base font-medium"-->
          <!--                      aria-controls="tabs-1-panel-1" role="tab" type="button" (click)="showMobileMenuTab('WOMEN')">Women-->
          <!--              </button>-->
          <!--              &lt;!&ndash; Selected: "border-indigo-600 text-indigo-600", Not Selected: "border-transparent text-gray-900" &ndash;&gt;-->
          <!--              <button id="tabs-1-tab-2"-->
          <!--                      class="border-transparent text-gray-900 flex-1 whitespace-nowrap border-b-2 px-1 py-4 text-base font-medium"-->
          <!--                      aria-controls="tabs-1-panel-2" role="tab" type="button" (click)="showMobileMenuTab('MEN')">Men-->
          <!--              </button>-->
          <!--            </div>-->
          <!--          </div>-->

          <!-- 'Women' tab panel, show/hide based on tab state. -->
          <div id="tabs-1-panel-1" class="space-y-12 px-4 pb-6 pt-10" aria-labelledby="tabs-1-tab-1" role="tabpanel"
               tabindex="0">
            <!--               [hidden]="!isWomenMenuTabOpen">-->
            <div class="grid grid-cols-1 items-start gap-x-6 gap-y-10">
              <div class="grid grid-cols-1 gap-x-6 gap-y-10">
                <div>
                  <p id="mobile-featured-heading-0" class="font-medium text-gray-900">Categories</p>
                  <ul role="list" aria-labelledby="mobile-featured-heading-0" class="mt-6 space-y-6"
                      *ngIf="categories$ | async as categories">
                    <li class="flex" *ngFor="let category of categories;">
                      <a href="#" class="text-gray-500">{{category.name}}</a>
                    </li>
                  </ul>
                </div>
                <div>
                  <p id="mobile-categories-heading" class="font-medium text-gray-900">Brands</p>
                  <ul role="list" aria-labelledby="mobile-categories-heading" class="mt-6 space-y-6"
                      *ngIf="brands$ | async as brands">
                    <li class="flex" *ngFor="let brand of brands;">
                      <a href="#" class="text-gray-500">{{brand.name}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- 'Men' tab panel, show/hide based on tab state. -->
          <!--          <div id="tabs-1-panel-2" class="space-y-12 px-4 pb-6 pt-10" aria-labelledby="tabs-1-tab-2" role="tabpanel"-->
          <!--               tabindex="0" [hidden]="!isMenMenuTabOpen">-->
          <!--            <div class="grid grid-cols-1 items-start gap-x-6 gap-y-10">-->
          <!--              <div class="grid grid-cols-1 gap-x-6 gap-y-10">-->
          <!--                <div>-->
          <!--                  <p id="mobile-featured-heading-1" class="font-medium text-gray-900">Category</p>-->
          <!--                  <ul role="list" aria-labelledby="mobile-featured-heading-1" class="mt-6 space-y-6" *ngIf="categories$ | async as categories">-->
          <!--                    <li class="flex" *ngFor="let category of categories">-->
          <!--                      <a href="#" class="text-gray-500">{{category.name}}</a>-->
          <!--                    </li>-->
          <!--                  </ul>-->
          <!--                </div>-->
          <!--                <div>-->
          <!--                  <p id="mobile-categories-heading" class="font-medium text-gray-900">Categories</p>-->
          <!--                  <ul role="list" aria-labelledby="mobile-categories-heading" class="mt-6 space-y-6">-->
          <!--                    <li class="flex">-->
          <!--                      <a href="#" class="text-gray-500">Artwork Tees</a>-->
          <!--                    </li>-->
          <!--                    <li class="flex">-->
          <!--                      <a href="#" class="text-gray-500">Pants</a>-->
          <!--                    </li>-->
          <!--                    <li class="flex">-->
          <!--                      <a href="#" class="text-gray-500">Accessories</a>-->
          <!--                    </li>-->
          <!--                    <li class="flex">-->
          <!--                      <a href="#" class="text-gray-500">Boxers</a>-->
          <!--                    </li>-->
          <!--                    <li class="flex">-->
          <!--                      <a href="#" class="text-gray-500">Basic Tees</a>-->
          <!--                    </li>-->
          <!--                  </ul>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--              <div class="grid grid-cols-1 gap-x-6 gap-y-10">-->
          <!--                <div>-->
          <!--                  <p id="mobile-collection-heading" class="font-medium text-gray-900">Collection</p>-->
          <!--                  <ul role="list" aria-labelledby="mobile-collection-heading" class="mt-6 space-y-6">-->
          <!--                    <li class="flex">-->
          <!--                      <a href="#" class="text-gray-500">Everything</a>-->
          <!--                    </li>-->
          <!--                    <li class="flex">-->
          <!--                      <a href="#" class="text-gray-500">Core</a>-->
          <!--                    </li>-->
          <!--                    <li class="flex">-->
          <!--                      <a href="#" class="text-gray-500">New Arrivals</a>-->
          <!--                    </li>-->
          <!--                    <li class="flex">-->
          <!--                      <a href="#" class="text-gray-500">Sale</a>-->
          <!--                    </li>-->
          <!--                  </ul>-->
          <!--                </div>-->

          <!--                <div>-->
          <!--                  <p id="mobile-brand-heading" class="font-medium text-gray-900">Brands</p>-->
          <!--                  <ul role="list" aria-labelledby="mobile-brand-heading" class="mt-6 space-y-6">-->
          <!--                    <li class="flex">-->
          <!--                      <a href="#" class="text-gray-500">Significant Other</a>-->
          <!--                    </li>-->
          <!--                    <li class="flex">-->
          <!--                      <a href="#" class="text-gray-500">My Way</a>-->
          <!--                    </li>-->
          <!--                    <li class="flex">-->
          <!--                      <a href="#" class="text-gray-500">Counterfeit</a>-->
          <!--                    </li>-->
          <!--                    <li class="flex">-->
          <!--                      <a href="#" class="text-gray-500">Re-Arranged</a>-->
          <!--                    </li>-->
          <!--                    <li class="flex">-->
          <!--                      <a href="#" class="text-gray-500">Full Nelson</a>-->
          <!--                    </li>-->
          <!--                  </ul>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>

        <div class="space-y-6 border-t border-gray-200 px-4 py-6">
          <div class="flow-root">
            <a (click)="navigateToPage('/directory')" class="-m-2 block p-2 font-medium text-gray-900">Pro Directory</a>
          </div>
          <div class="flow-root">
            <a (click)="navigateToPage('/product/view')" class="-m-2 block p-2 font-medium text-gray-900">Products</a>
          </div>
          <div class="flow-root">
            <a (click)="navigateToPage('/order/view')" class="-m-2 block p-2 font-medium text-gray-900">Orders</a>
          </div>
          <div class="flow-root">
            <a (click)="navigateToPage('/appointment/view')" class="-m-2 block p-2 font-medium text-gray-900">Appointment</a>
          </div>
          <ng-container *ngIf="{context: loggedInUsername$ | async} as data">
            <ng-container *ngIf="data.context">
              <ng-container *ngIf="{isAdministrator: isAdministrator$ | async} as value">
                <div class="flow-root" *ngIf="value.isAdministrator">
                  <a (click)="navigateToPage('admin-management')" class="-m-2 block p-2 font-medium text-gray-900">Management</a>
                </div>
              </ng-container>
              <ng-container *ngIf="{isServiceProvider: isServiceProvider$ | async} as value">
                <div class="flow-root" *ngIf="value.isServiceProvider">
                  <a (click)="navigateToPage('service-provider-management')"
                     class="-m-2 block p-2 font-medium text-gray-900">Management</a>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>

        <ng-container *ngIf="{context : loggedInUsername$ | async } as loggedInUser">
          <ng-container *ngIf="loggedInUser.context; else loading;">
            <div class="space-y-6 border-t border-gray-200 px-4 py-6">
              <div class="flow-root">
                <a (click)="logout()" class="-m-2 block p-2 font-medium text-gray-900">Logout</a>
              </div>
            </div>
          </ng-container>
          <ng-template #loading>
            <div class="space-y-6 border-t border-gray-200 px-4 py-6">
              <div class="flow-root">
                <a (click)="login()" class="-m-2 block p-2 font-medium text-gray-900">Create an account</a>
              </div>
              <div class="flow-root">
                <a (click)="login()" class="-m-2 block p-2 font-medium text-gray-900">Sign in</a>
              </div>
            </div>

          </ng-template>
        </ng-container>
      </div>
    </div>
  </div>

  <header class="relative">
    <nav aria-label="Top">
      <!-- Top navigation -->
      <div class="bg-rose-600">
        <div class="mx-auto flex h-10 max-w-9xl items-center justify-between px-4 sm:px-6 lg:px-8">
          <span class="flex-1 text-center text-sm font-medium text-white lg:flex-none">Get free delivery on orders over
            $100</span>

          <div class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-6">
            <ng-container *ngIf="{context : loggedInUsername$ | async } as loggedInUser">
              <ng-container *ngIf="loggedInUser.context; else loading;">
                <ng-container *ngIf="{user: user$ | async, error: userError$ | async} as data">
                  <ng-container *ngIf="data.user">
                  <span href="#"
                        class="text-sm font-medium text-white hover:text-gray-100">{{data.user.profile.email_address}}</span>
                    <span class="h-6 w-px bg-gray-600" aria-hidden="true"></span>
                    <a (click)="logout()"
                       class="cursor-pointer text-sm font-medium text-white hover:text-gray-100">Logout</a>
                  </ng-container>
                </ng-container>

              </ng-container>
              <ng-template #loading>
                <ng-container>
                  <a (click)="login()"
                     class="cursor-pointer text-sm font-medium text-white hover:text-gray-100">Create an account</a>
                  <span class="h-6 w-px bg-gray-600" aria-hidden="true"></span>
                  <a (click)="login()"
                     class="cursor-pointer text-sm font-medium text-white hover:text-gray-100">Sign in</a>
                </ng-container>
              </ng-template>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- Secondary navigation -->
      <div class="bg-white">
        <div class="mx-auto max-w-9xl px-4 sm:px-6 lg:px-8">
          <div class="border-b border-gray-200">
            <div class="flex h-16 items-center justify-between">
              <!-- Logo (lg+) -->
              <div class="hidden lg:flex lg:items-center">
                <a href="#">
                  <span class="sr-only">Your Company</span>
                  <img class="h-8 w-auto" src="./assets/image/logo.png" alt="">
                </a>
              </div>

              <!--              <div class="hidden h-full lg:flex">-->
              <!--                &lt;!&ndash; Mega menus &ndash;&gt;-->
              <!--                <div class="ml-8">-->
              <!--                  <div class="flex h-full justify-end space-x-8">-->
              <!--                    <div class="flex">-->
              <!--                      <div class="relative flex">-->
              <!--                        &lt;!&ndash; Item active: "border-indigo-600 text-indigo-600", Item inactive: "border-transparent text-gray-700 hover:text-gray-800" &ndash;&gt;-->
              <!--                        <button type="button"-->
              <!--                                class="border-transparent text-gray-700 hover:text-gray-800 relative z-10 -mb-px flex items-center border-b-2 pt-px text-sm font-medium transition-colors duration-200 ease-out"-->
              <!--                                aria-expanded="false" (click)="showProductMegaMenu()">Products-->
              <!--                        </button>-->
              <!--                      </div>-->

              <!--                      &lt;!&ndash;-->
              <!--                        'Product' mega menu, show/hide based on flyout menu state.-->

              <!--                        Entering: "transition ease-out duration-200"-->
              <!--                          From: "opacity-0"-->
              <!--                          To: "opacity-100"-->
              <!--                        Leaving: "transition ease-in duration-150"-->
              <!--                          From: "opacity-100"-->
              <!--                          To: "opacity-0"-->
              <!--                      &ndash;&gt;-->
              <!--                      <div class="absolute z-40 inset-x-0 top-full text-gray-500 sm:text-sm"-->
              <!--                           [hidden]="!isProductMegaMenuOpen">-->
              <!--                        &lt;!&ndash; Presentational element used to render the bottom shadow, if we put the shadow on the actual panel it pokes out the top, so we use this shorter element to hide the top of the shadow &ndash;&gt;-->
              <!--                        <div class="absolute inset-0 top-1/2 bg-white shadow" aria-hidden="true"></div>-->

              <!--                        <div class="relative bg-white">-->
              <!--                          <div class="mx-auto max-w-9xl px-8">-->
              <!--                            <div class="grid grid-cols-2 items-start gap-x-8 gap-y-10 pb-12 pt-10">-->
              <!--                              <div class="grid grid-cols-2 gap-x-8 gap-y-10">-->
              <!--                                <div>-->
              <!--                                  <p id="desktop-featured-heading-1" class="font-medium text-gray-900">Featured</p>-->
              <!--                                  <ul role="list" aria-labelledby="desktop-featured-heading-1"-->
              <!--                                      class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">-->
              <!--                                    <li class="flex">-->
              <!--                                      <a href="#" class="hover:text-gray-800">Casual</a>-->
              <!--                                    </li>-->
              <!--                                    <li class="flex">-->
              <!--                                      <a href="#" class="hover:text-gray-800">Boxers</a>-->
              <!--                                    </li>-->
              <!--                                    <li class="flex">-->
              <!--                                      <a href="#" class="hover:text-gray-800">Outdoor</a>-->
              <!--                                    </li>-->
              <!--                                  </ul>-->
              <!--                                </div>-->
              <!--                                <div>-->
              <!--                                  <p id="desktop-categories-heading" class="font-medium text-gray-900">Categories</p>-->
              <!--                                  <ul role="list" aria-labelledby="desktop-categories-heading"-->
              <!--                                      class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">-->
              <!--                                    <li class="flex">-->
              <!--                                      <a href="#" class="hover:text-gray-800">Artwork Tees</a>-->
              <!--                                    </li>-->
              <!--                                    <li class="flex">-->
              <!--                                      <a href="#" class="hover:text-gray-800">Pants</a>-->
              <!--                                    </li>-->
              <!--                                    <li class="flex">-->
              <!--                                      <a href="#" class="hover:text-gray-800">Accessories</a>-->
              <!--                                    </li>-->
              <!--                                    <li class="flex">-->
              <!--                                      <a href="#" class="hover:text-gray-800">Boxers</a>-->
              <!--                                    </li>-->
              <!--                                    <li class="flex">-->
              <!--                                      <a href="#" class="hover:text-gray-800">Basic Tees</a>-->
              <!--                                    </li>-->
              <!--                                  </ul>-->
              <!--                                </div>-->
              <!--                              </div>-->
              <!--                              <div class="grid grid-cols-2 gap-x-8 gap-y-10">-->
              <!--                                <div>-->
              <!--                                  <p id="desktop-collection-heading" class="font-medium text-gray-900">Collection</p>-->
              <!--                                  <ul role="list" aria-labelledby="desktop-collection-heading"-->
              <!--                                      class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">-->
              <!--                                    <li class="flex">-->
              <!--                                      <a href="#" class="hover:text-gray-800">Everything</a>-->
              <!--                                    </li>-->
              <!--                                    <li class="flex">-->
              <!--                                      <a href="#" class="hover:text-gray-800">Core</a>-->
              <!--                                    </li>-->
              <!--                                    <li class="flex">-->
              <!--                                      <a href="#" class="hover:text-gray-800">New Arrivals</a>-->
              <!--                                    </li>-->
              <!--                                    <li class="flex">-->
              <!--                                      <a href="#" class="hover:text-gray-800">Sale</a>-->
              <!--                                    </li>-->
              <!--                                  </ul>-->
              <!--                                </div>-->

              <!--                                <div>-->
              <!--                                  <p id="desktop-brand-heading" class="font-medium text-gray-900">Brands</p>-->
              <!--                                  <ul role="list" aria-labelledby="desktop-brand-heading"-->
              <!--                                      class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">-->
              <!--                                    <li class="flex">-->
              <!--                                      <a href="#" class="hover:text-gray-800">Significant Other</a>-->
              <!--                                    </li>-->
              <!--                                    <li class="flex">-->
              <!--                                      <a href="#" class="hover:text-gray-800">My Way</a>-->
              <!--                                    </li>-->
              <!--                                    <li class="flex">-->
              <!--                                      <a href="#" class="hover:text-gray-800">Counterfeit</a>-->
              <!--                                    </li>-->
              <!--                                    <li class="flex">-->
              <!--                                      <a href="#" class="hover:text-gray-800">Re-Arranged</a>-->
              <!--                                    </li>-->
              <!--                                    <li class="flex">-->
              <!--                                      <a href="#" class="hover:text-gray-800">Full Nelson</a>-->
              <!--                                    </li>-->
              <!--                                  </ul>-->
              <!--                                </div>-->
              <!--                              </div>-->
              <!--                            </div>-->
              <!--                          </div>-->
              <!--                        </div>-->
              <!--                      </div>-->
              <!--                    </div>-->

              <!--                    <a href="#"-->
              <!--                       class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800">Services</a>-->
              <!--                    <a href="#"-->
              <!--                       class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800">Pro Directory</a>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->

              <!-- Mobile menu and search (lg-) -->
              <div class="flex flex-1 items-center lg:hidden">
                <!-- Mobile menu toggle, controls the 'mobileMenuOpen' state. -->
                <button type="button" class="-ml-2 rounded-md bg-white p-2 text-gray-400" (click)="openMobileMenu()">
                  <span class="sr-only">Open menu</span>
                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                       aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                  </svg>
                </button>

                <!-- Search -->
                <!--                <a href="#" class="ml-2 p-2 text-gray-400 hover:text-gray-500">-->
                <!--                  <span class="sr-only">Search</span>-->
                <!--                  <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"-->
                <!--                       aria-hidden="true">-->
                <!--                    <path stroke-linecap="round" stroke-linejoin="round"-->
                <!--                          d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"/>-->
                <!--                  </svg>-->
                <!--                </a>-->
              </div>

              <!-- Logo (lg-) -->
              <a href="#" class="lg:hidden">
                <span class="sr-only">Your Company</span>
                <img src="./assets/image/logo.png" alt="" class="h-8 w-auto">
              </a>

              <div class="flex flex-1 items-center justify-end">
                <div class="flex items-center lg:ml-8">
                  <div class="flex space-x-8">
                    <div class="hidden h-full lg:flex mx-3">
                      <!-- Mega menus -->
                      <div class="ml-8">
                        <div class="flex h-full justify-end space-x-8">
                          <a [routerLink]="['directory']"
                             class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800">Pro
                            Directory</a>
                          <div class="flex">
                            <div class="relative flex">
                              <!-- Item active: "border-indigo-600 text-indigo-600", Item inactive: "border-transparent text-gray-700 hover:text-gray-800" -->
                              <button type="button"
                                      class="border-transparent text-gray-700 hover:text-gray-800 relative z-10 -mb-px flex items-center border-b-2 pt-px text-sm font-medium transition-colors duration-200 ease-out"
                                      aria-expanded="false" (click)="showProductMegaMenu()">Products
                              </button>
                            </div>

                            <!--
                              'Product' mega menu, show/hide based on flyout menu state.

                              Entering: "transition ease-out duration-200"
                                From: "opacity-0"
                                To: "opacity-100"
                              Leaving: "transition ease-in duration-150"
                                From: "opacity-100"
                                To: "opacity-0"
                            -->
                            <div class="absolute z-40 inset-x-0 top-full text-gray-500 sm:text-sm"
                                 [hidden]="!isProductMegaMenuOpen">
                              <!-- Presentational element used to render the bottom shadow, if we put the shadow on the actual panel it pokes out the top, so we use this shorter element to hide the top of the shadow -->
                              <div class="absolute inset-0 top-1/2 bg-white shadow" aria-hidden="true"></div>

                              <div class="relative bg-white">
                                <div class="mx-auto max-w-9xl px-8">
                                  <div class="grid grid-cols-2 items-start gap-x-8 gap-y-10 pb-12 pt-10">
                                    <div class="grid grid-cols-2 gap-x-8 gap-y-10">
                                      <div>
                                        <p id="desktop-featured-heading-1" class="font-medium text-gray-900">
                                          Categories</p>
                                        <ul role="list" aria-labelledby="desktop-featured-heading-1"
                                            *ngIf="categories$ | async as categories"
                                            class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">
                                          <li class="flex" *ngFor="let category of categories">
                                            <a [routerLink]="['product','view']" class="hover:text-gray-800"
                                               (click)="addCategoryFilter(category)">{{category.name}}</a>
                                          </li>
                                        </ul>
                                      </div>
                                      <div>
                                        <p id="desktop-categories-heading" class="font-medium text-gray-900">Brands</p>
                                        <ul role="list" aria-labelledby="desktop-categories-heading"
                                            class="mt-6 space-y-6 sm:mt-4 sm:space-y-4"
                                            *ngIf="brands$ | async as brands">
                                          <li class="flex" *ngFor="let brand of brands;">
                                            <a [routerLink]="['product','view']" class="hover:text-gray-800"
                                               (click)="addBrandFilter(brand)">{{brand.name}}</a>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <!--                                    <div class="grid grid-cols-2 gap-x-8 gap-y-10">-->
                                    <!--                                      <div>-->
                                    <!--                                        <p id="desktop-collection-heading" class="font-medium text-gray-900">Collection</p>-->
                                    <!--                                        <ul role="list" aria-labelledby="desktop-collection-heading"-->
                                    <!--                                            class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">-->
                                    <!--                                          <li class="flex">-->
                                    <!--                                            <a href="#" class="hover:text-gray-800">Everything</a>-->
                                    <!--                                          </li>-->
                                    <!--                                          <li class="flex">-->
                                    <!--                                            <a href="#" class="hover:text-gray-800">Core</a>-->
                                    <!--                                          </li>-->
                                    <!--                                          <li class="flex">-->
                                    <!--                                            <a href="#" class="hover:text-gray-800">New Arrivals</a>-->
                                    <!--                                          </li>-->
                                    <!--                                          <li class="flex">-->
                                    <!--                                            <a href="#" class="hover:text-gray-800">Sale</a>-->
                                    <!--                                          </li>-->
                                    <!--                                        </ul>-->
                                    <!--                                      </div>-->

                                    <!--                                      <div>-->
                                    <!--                                        <p id="desktop-brand-heading" class="font-medium text-gray-900">Brands</p>-->
                                    <!--                                        <ul role="list" aria-labelledby="desktop-brand-heading"-->
                                    <!--                                            class="mt-6 space-y-6 sm:mt-4 sm:space-y-4">-->
                                    <!--                                          <li class="flex">-->
                                    <!--                                            <a href="#" class="hover:text-gray-800">Significant Other</a>-->
                                    <!--                                          </li>-->
                                    <!--                                          <li class="flex">-->
                                    <!--                                            <a href="#" class="hover:text-gray-800">My Way</a>-->
                                    <!--                                          </li>-->
                                    <!--                                          <li class="flex">-->
                                    <!--                                            <a href="#" class="hover:text-gray-800">Counterfeit</a>-->
                                    <!--                                          </li>-->
                                    <!--                                          <li class="flex">-->
                                    <!--                                            <a href="#" class="hover:text-gray-800">Re-Arranged</a>-->
                                    <!--                                          </li>-->
                                    <!--                                          <li class="flex">-->
                                    <!--                                            <a href="#" class="hover:text-gray-800">Full Nelson</a>-->
                                    <!--                                          </li>-->
                                    <!--                                        </ul>-->
                                    <!--                                      </div>-->
                                    <!--                                    </div>-->
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <a href="#"
                             class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800"
                             [routerLink]="['order','view']">Orders</a>
                          <!--                          <a href="#"-->
                          <!--                             class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800"-->
                          <!--                             [routerLink]="['directory']">Services</a>-->
                          <a href="#"
                             class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800"
                             [routerLink]="['appointment', 'view']">Appointment</a>

                          <ng-container *ngIf="{context: loggedInUsername$ | async} as data">
                            <ng-container *ngIf="data.context">
                              <ng-container *ngIf="{isAdministrator: isAdministrator$ | async} as value">
                                <a href="#" *ngIf="value.isAdministrator"
                                   class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800"
                                   [routerLink]="['admin-management']">Management</a>
                              </ng-container>
                              <ng-container *ngIf="{isServiceProvider: isServiceProvider$ | async} as value">
                                <a href="#" *ngIf="value.isServiceProvider"
                                   class="flex items-center text-sm font-medium text-gray-700 hover:text-gray-800"
                                   [routerLink]="['service-provider-management']">Management</a>
                              </ng-container>
                            </ng-container>
                          </ng-container>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="flex space-x-8">
                    <div class="hidden lg:flex">
                      <a (click)="openSearch()" class="-m-2 p-2 text-gray-400 hover:text-gray-500">
                        <span class="sr-only">Search</span>
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                             aria-hidden="true">
                          <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"/>
                        </svg>
                      </a>
                    </div>
                    <ng-container *ngIf="{context: loggedInUsername$ | async} as data">
                      <div class="flex" *ngIf="data.context">
                        <a [routerLink]="['profile']" class="-m-2 p-2 text-gray-400 hover:text-gray-500">
                          <span class="sr-only">Account</span>
                          <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                               stroke="currentColor"
                               aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"/>
                          </svg>
                        </a>
                      </div>
                    </ng-container>
                  </div>
                  <ng-container *ngIf="{context: loggedInUsername$ | async} as data">
                    <ng-container *ngIf="data.context">
                      <app-notification></app-notification>
                    </ng-container>
                  </ng-container>
                  <span class="mx-4 h-6 w-px bg-gray-200 lg:mx-6" aria-hidden="true"></span>

                  <div class="flow-root">
                    <a [routerLink]="['cart']" class="group -m-2 flex items-center p-2">
                      <svg class="h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500" fill="none"
                           viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z"/>
                      </svg>
                      <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800"
                            *ngIf="numberOfCartItems$ | async as total;">{{total}}</span>
                      <span class="sr-only">items in cart, view bag</span>
                    </a>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</div>
