<!--<div class="row min-vh-100 justify-content-center py-5 bg-light">-->
<!--  <div class="col-md-10 col-lg-10 col-sm-10">-->
<!--    <div class="row  justify-content-center g-4">-->
<!--      <div class="col-md-12 col-lg-12 col-sm-12">-->
<!--        <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>-->
<!--      </div>-->
<!--      <div class="col-md-12 col-lg-12 col-sm-12">-->
<!--        <h3 class="title text-center">Cart</h3>-->
<!--      </div>-->
<!--      <ng-template #loading>-->
<!--        <app-loading-spinner></app-loading-spinner>-->
<!--      </ng-template>-->
<!--      <form class="container" *ngIf="(cart$ | async) as cart;else loading;" [formGroup]="cartForm">-->
<!--        <ng-container *ngIf="cart.items.length === 0" >-->
<!--          <div class="row">-->
<!--            <div class="col-md-12 col-lg-12 col-sm-12">-->
<!--              <div class="card border-0 bg-light" style="min-height:50rem;">-->
<!--                <div class="card-body d-flex flex-column justify-content-center align-items-center">-->
<!--                  <div class="pb-3">-->
<!--                    &lt;!&ndash;                  <fa-icon [icon]="faMagnifyingGlass" size="9x"></fa-icon>&ndash;&gt;-->
<!--                    <img src="./assets/image/empty-cart.png">-->
<!--                  </div>-->
<!--                  <div class="text-center">-->
<!--                    <span class="h3 pb-5">Cart is empty</span>-->
<!--                  </div>-->
<!--                  <div class="text-center">-->
<!--                    <br /><span class="light-gray">Looks like you have not made your choice yet.</span>-->
<!--                    <br /> <span class="light-gray">Go ahead and explore our top products.</span></div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </ng-container>-->
<!--        <div class="row d-flex justify-content-center my-4" *ngIf="cart.items.length > 0">-->
<!--          <div class="col-md-8">-->
<!--            <div class="card mb-4 border-0 shadow-sm">-->
<!--              <div class="card-header bg-white py-3">-->
<!--                <h5 class="mb-0">Cart - {{cart.items.length}} items</h5>-->
<!--              </div>-->
<!--              <div class="card-body" formArrayName="items">-->
<!--                &lt;!&ndash; Single item &ndash;&gt;-->
<!--                <div class="row" *ngFor="let item of cart.items; let last = last;let i = index;" [formGroupName]="i">-->
<!--                  <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">-->
<!--                    &lt;!&ndash; Image &ndash;&gt;-->
<!--                    <div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">-->
<!--                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp"-->
<!--                           class="w-100" alt="Blue Jeans Jacket"/>-->
<!--                      <a href="#!">-->
<!--                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>-->
<!--                      </a>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Image &ndash;&gt;-->
<!--                  </div>-->

<!--                  <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">-->
<!--                    &lt;!&ndash; Data &ndash;&gt;-->
<!--                   <p><strong>{{item.name}}</strong></p>-->
<!--&lt;!&ndash;                    <p>Color: blue</p>&ndash;&gt;-->
<!--                    <p>Size: {{item.size}}</p>-->
<!--                    <p><strong>{{ item.price | currency : 'MYR '}}</strong></p>-->

<!--                    <button type="button" class="btn btn-danger btn-sm me-1 mb-2" data-mdb-toggle="tooltip"-->
<!--                            title="Remove item" (click)="deleteCartItem(item)">-->
<!--                      <fa-icon [icon]="faTrash"></fa-icon>-->
<!--                    </button>-->
<!--&lt;!&ndash;                    <button type="button" class="btn btn-danger btn-sm mb-2" data-mdb-toggle="tooltip"&ndash;&gt;-->
<!--&lt;!&ndash;                            title="Move to the wish list">&ndash;&gt;-->
<!--&lt;!&ndash;                      <i class="fas fa-heart"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                    </button>&ndash;&gt;-->
<!--                    &lt;!&ndash; Data &ndash;&gt;-->
<!--                  </div>-->

<!--                  <div class="col-lg-4 col-md-6 col-sm-6 mb-4 mb-lg-0">-->
<!--                    &lt;!&ndash; Quantity &ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="d-flex mb-4" style="max-width: 300px">&ndash;&gt;-->
<!--&lt;!&ndash;                      <button class="btn btn-primary px-3 me-2"&ndash;&gt;-->
<!--&lt;!&ndash;                              onclick="this.parentNode.querySelector('input[type=number]').stepDown()">&ndash;&gt;-->
<!--&lt;!&ndash;                        <fa-icon [icon]="faMinus"></fa-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                      </button>&ndash;&gt;-->

<!--&lt;!&ndash;                      <div class="form-outline">&ndash;&gt;-->
<!--&lt;!&ndash;                        <input id="form1" min="0" name="quantity" value="1" type="number" class="form-control"/>&ndash;&gt;-->
<!--&lt;!&ndash;                        <label class="form-label" for="form1">Quantity</label>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->

<!--&lt;!&ndash;                      <button class="btn btn-primary px-3 ms-2"&ndash;&gt;-->
<!--&lt;!&ndash;                              onclick="this.parentNode.querySelector('input[type=number]').stepUp()">&ndash;&gt;-->
<!--&lt;!&ndash;                        <fa-icon [icon]="faPlus"></fa-icon>&ndash;&gt;-->
<!--&lt;!&ndash;                      </button>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                    <div class="row">-->
<!--                      <div class="col-md-12 col-lg-12 col-sm-12">-->
<!--                          <tui-input-count-->
<!--                            formControlName="quantity"-->
<!--                            tuiTextfieldSize="m"-->
<!--                            [max]="item.available_quantity"-->
<!--                            [min]="1"-->
<!--                            [tuiTextfieldLabelOutside]="true"-->
<!--                            (click)="changeQuantity(i)"-->
<!--                            (keyup)="changeQuantity(i)"-->
<!--                          ></tui-input-count>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Quantity &ndash;&gt;-->

<!--                    &lt;!&ndash; Price &ndash;&gt;-->
<!--&lt;!&ndash;                    <p class="text-start text-md-center">&ndash;&gt;-->
<!--&lt;!&ndash;                      <strong>$17.99</strong>&ndash;&gt;-->
<!--&lt;!&ndash;                    </p>&ndash;&gt;-->
<!--                    &lt;!&ndash; Price &ndash;&gt;-->
<!--                  </div>-->
<!--                  <hr class="my-4" *ngIf="!last"/>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-4">-->
<!--            <div class="card mb-4">-->
<!--              <div class="card-header py-3">-->
<!--                <h5 class="mb-0">Summary</h5>-->
<!--              </div>-->
<!--              <div class="card-body">-->
<!--                <ul class="list-group list-group-flush">-->
<!--                  <li-->
<!--                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">-->
<!--                    Subtotal-->
<!--                    <span>{{cart.subtotal | currency : 'MYR '}}</span>-->
<!--                  </li>-->
<!--                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">-->
<!--                    Shipping-->
<!--                    <span>{{cart.shipping_fees | currency : 'MYR '}}</span>-->
<!--                  </li>-->
<!--                  <li-->
<!--                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">-->
<!--                    <div>-->
<!--                      <strong>Total amount</strong>-->
<!--                      <strong>-->
<!--                        <p class="mb-0">(including VAT)</p>-->
<!--                      </strong>-->
<!--                    </div>-->
<!--                    <span><strong>{{cart.total | currency : 'MYR '}}</strong></span>-->
<!--                  </li>-->
<!--                </ul>-->

<!--                <button type="button" class="btn btn-primary btn-lg btn-block" [routerLink]="['../','checkout']">-->
<!--                  Checkout-->
<!--                </button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--
  This example requires some changes to your config:

  ```
  // tailwind.config.js
  module.exports = {
    // ...
    plugins: [
      // ...
      require('@tailwindcss/forms'),
      require('@tailwindcss/aspect-ratio'),
    ],
  }
  ```
-->
<div class="bg-white">
  <ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
  <main class="mx-auto max-w-2xl px-4 pb-24 pt-16 sm:px-6 lg:max-w-7xl lg:px-8"
        *ngIf="(cart$ | async) as cart;else loading;" [formGroup]="cartForm">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Shopping Cart</h1>
    <form class="mt-12 lg:grid lg:grid-cols-12 lg:items-start lg:gap-x-12 xl:gap-x-16" [formGroup]="cartForm">
      <section aria-labelledby="cart-heading" class="lg:col-span-7">
        <h2 id="cart-heading" class="sr-only">Items in your shopping cart</h2>
        <ng-container *ngIf="cart.items.length === 0">
          <div class="row">
            <div class="flex justify-center">
              <!--                  <fa-icon [icon]="faMagnifyingGlass" size="9x"></fa-icon>-->
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.7"
                   stroke="currentColor" class="w-44 h-44">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"/>
              </svg>

            </div>
            <div class="text-center">
              <span class="h3 pb-5">Cart is empty</span>
            </div>
            <div class="text-center">
              <br/><span class="light-gray">Looks like you have not made your choice yet.</span>
              <br/> <span class="light-gray">Go ahead and explore our top products.</span></div>
          </div>
        </ng-container>
        <ul role="list" class="0">
          <ng-container formArrayName="items">
            <li class="flex py-6 sm:py-10" *ngFor="let item of cart.items;let i = index;" [formGroupName]="i">
              <div class="flex-shrink-0">
                <img src="https://tailwindui.com/img/ecommerce-images/shopping-cart-page-01-product-01.jpg"
                     alt="Front of men&#039;s Basic Tee in sienna."
                     class="h-24 w-24 rounded-md object-cover object-center sm:h-48 sm:w-48">
              </div>

              <div class="ml-4 flex flex-1 flex-col justify-between sm:ml-6">
                <div class="relative pr-9 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:pr-0">
                  <div>
                    <div class="flex justify-between">
                      <h3 class="text-sm">
                        <a href="#" class="font-medium text-gray-700 hover:text-gray-800">{{item.name}}</a>
                      </h3>
                    </div>
                    <div class="mt-1 flex text-sm">
                      <p class="text-gray-500">{{item.description}}</p>
                      <p class="ml-4 border-l border-gray-200 pl-4 text-gray-500">{{item.size}}</p>
                    </div>
                    <p class="mt-1 text-sm font-medium text-gray-900">{{item.price | currency : 'MYR '}}</p>
                  </div>

                  <div class="mt-4 sm:mt-0 sm:pr-9">
                    <!--                  <label for="quantity-0" class="sr-only">Quantity, Basic Tee</label>-->
                    <!--                  <select id="quantity-0" name="quantity-0" class="max-w-full rounded-md border border-gray-300 py-1.5 text-left text-base font-medium leading-5 text-gray-700 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm">-->
                    <!--                    <option value="1">1</option>-->
                    <!--                    <option value="2">2</option>-->
                    <!--                    <option value="3">3</option>-->
                    <!--                    <option value="4">4</option>-->
                    <!--                    <option value="5">5</option>-->
                    <!--                    <option value="6">6</option>-->
                    <!--                    <option value="7">7</option>-->
                    <!--                    <option value="8">8</option>-->
                    <!--                  </select>-->
                    <tui-input-count
                      formControlName="quantity"
                      tuiTextfieldSize="m"
                      [max]="item.available_quantity"
                      [min]="1"
                      [tuiTextfieldLabelOutside]="true"
                      (click)="changeQuantity(i)"
                      (keyup)="changeQuantity(i)"
                    ></tui-input-count>
                    <!--                      </div>-->

                    <div class="absolute right-0 top-0">
                      <button type="button" class="-m-2 inline-flex p-2 text-gray-400 hover:text-gray-500"
                              (click)="deleteCartItem(item)">
                        <span class="sr-only">Remove</span>
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path
                            d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"/>
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>

                <p class="mt-4 flex space-x-2 text-sm text-gray-700">
                  <svg class="h-5 w-5 flex-shrink-0 text-green-500" viewBox="0 0 20 20" fill="currentColor"
                       aria-hidden="true">
                    <path fill-rule="evenodd"
                          d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
                          clip-rule="evenodd"/>
                  </svg>
                  <span>In stock</span>
                </p>
              </div>
            </li>
          </ng-container>
        </ul>
      </section>

      <!-- Order summary -->
      <section aria-labelledby="summary-heading"
               class="mt-16 rounded-lg bg-gray-50 px-4 py-6 sm:p-6 lg:col-span-5 lg:mt-0 lg:p-8">
        <h2 id="summary-heading" class="text-lg font-medium text-gray-900">Order summary</h2>

        <dl class="mt-6 space-y-4">
          <div class="flex items-center justify-between">
            <dt class="text-sm text-gray-600">Total</dt>
            <dd class="text-sm font-medium text-gray-900">{{cart.total | currency : 'MYR '}}</dd>
          </div>
          <div class="flex items-center justify-between border-t border-gray-200 pt-4">
            <dt class="flex items-center text-sm text-gray-600">
              <span>Shipping estimate</span>
              <a href="#" class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500">
                <span class="sr-only">Learn more about how shipping is calculated</span>
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z"
                        clip-rule="evenodd"/>
                </svg>
              </a>
            </dt>
            <dd class="text-sm font-medium text-gray-900">{{cart.shipping_fees | currency : 'MYR '}}</dd>
          </div>
          <div class="flex items-center justify-between border-t border-gray-200 pt-4">
            <dt class="flex text-sm text-gray-600">
              <span>Tax estimate</span>
              <a href="#" class="ml-2 flex-shrink-0 text-gray-400 hover:text-gray-500">
                <span class="sr-only">Learn more about how tax is calculated</span>
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zM8.94 6.94a.75.75 0 11-1.061-1.061 3 3 0 112.871 5.026v.345a.75.75 0 01-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 108.94 6.94zM10 15a1 1 0 100-2 1 1 0 000 2z"
                        clip-rule="evenodd"/>
                </svg>
              </a>
            </dt>
            <dd class="text-sm font-medium text-gray-900">{{cart.tax_amount | currency : 'MYR'}}</dd>
          </div>
          <div class="flex items-center justify-between border-t border-gray-200 pt-4">
            <dt class="text-base font-medium text-gray-900">Subtotal</dt>
            <dd class="text-base font-medium text-gray-900">{{cart.subtotal | currency : 'MYR '}}</dd>
          </div>
        </dl>

        <div class="mt-6">
          <div class="flex justify-content-end">
            <app-button [disabled]="cart.items.length === 0" text="Checkout"
                        [routerLink]="['../','checkout']"></app-button>
          </div>
          <!--          <button type="submit" class="w-full rounded-md border border-transparent bg-indigo-600 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-gray-50" [routerLink]="['../','checkout']">Checkout</button>-->
        </div>
      </section>
    </form>
  </main>
</div>
