<main class="text-lg text-gray-900">
  <div class="grid grid-cols-1 md:grid-cols-1 gap-8">
    <div class="flex flex-col gap-6">
      <div class="flex items-center">
                     <span class=" bg-gray-100 p-4 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-9 h-9 text-rose-600">
                      <path stroke-linecap="round" stroke-linejoin="round"
                            d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"/>
                    </svg>
                  </span>
      </div>
      <h6>Change Password</h6>
      <p class="text-gray-500 text-sm">To change your password, please fill in the fields below</p>
    </div>
    <div class="flex">
      <div class="rounded-2xl bg-gray-100 text-sm p-7">
        <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Password requirements:</h2>
        <ul class="max-w-md space-y-1 text-gray-500 list-inside dark:text-gray-400">
          <li class="flex items-center" *ngFor="let passwordRequirement of passwordRequirements;">
            <svg class="w-3.5 h-3.5 me-2 flex-shrink-0" aria-hidden="true"
                 [ngClass]="passwordRequirement.pass ? 'text-green-400' : 'text-gray-500'"
                 xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
            </svg>
            {{passwordRequirement.text}}
          </li>
        </ul>
      </div>
    </div>
    <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" [formGroup]="changePasswordForm">
      <div>
        <label for="current-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Current
          Password</label>
        <input formControlName="current_password" type="password" placeholder="••••••••" name="current-password"
               id="current-password"
               class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
      <div>
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
        <input formControlName="password" type="password" name="password" id="password" placeholder="••••••••"
               class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
               [ngClass]="passwordControl.touched &&  ( passwordControl.hasError('required') || passwordControl.hasError('pattern') ) ? 'ring-1 ring-rose-600' : ''">
        <span *ngIf="(passwordControl.hasError('required')) && passwordControl.touched" class="text-rose-600 text-sm">
                                *Password is required
                              </span>
        <span *ngIf="(passwordControl.hasError('pattern')) && passwordControl.touched" class="text-rose-600 text-sm">
                                *Password must be at least 8 characters, at least 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character
                              </span>
      </div>
      <div>
        <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm
          password</label>
        <input formControlName="confirm_password" type="password" name="confirm-password" id="confirm-password"
               placeholder="••••••••"
               [ngClass]="confirmPasswordControl.touched && ( confirmPasswordControl.hasError('required') || changePasswordForm.hasError('notMatch')) ? 'ring-1 ring-rose-600' : ''"
               class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <span *ngIf="(confirmPasswordControl.hasError('required')) && confirmPasswordControl.touched"
              class="text-rose-600 text-sm">
                                *Confirm password is required
                              </span>
        <span *ngIf="changePasswordForm.hasError('notMatch') && !confirmPasswordControl.hasError('required') && confirmPasswordControl.touched"
              class="text-rose-600 text-sm">
                                *Password do not match
                              </span>
      </div>
      <button (click)="resetPassword()"
      class="w-full text-white bg-rose-600 hover:bg-rose-700 focus:ring-4 focus:outline-none focus:ring-rose-300
      font-medium rounded-lg text-sm px-5 py-2.5 text-center">
      Reset password
      </button>
    </form>
  </div>
</main>
