<div class="flex">
  <form [formGroup]="basicInfoForm">
    <div class="grid gap-5 my-6 sm:grid-cols-2">
      <ng-container formGroupName="business_details">
        <div>
          <app-text-input title="Business name" placeholder="Enter your business name"
                          [control]="businessNameControl"></app-text-input>
        </div>
        <div>
          <app-text-input title="Business email" placeholder="Enter your business email"
                          [control]="businessEmailControl"></app-text-input>
        </div>
        <div class="col-span-2">
          <app-dropdown [control]="businessLocationControl" [items]="locations" title="Business Location"
                        placeholder="Select a location"></app-dropdown>

        </div>
        <div>
          <app-phone-input placeholder="1128188291" title="Business phone number"
                           [prefixControl]="businessPhoneNumberPrefixControl"
                           [control]="businessPhoneNumberControl" ></app-phone-input>
        </div>
        <div>
          <app-phone-input placeholder="3 28188291" title="Business fax number"
                           [prefixControl]="businessFaxNoPrefixControl"
                           [control]="businessFaxNoControl"></app-phone-input>
        </div>
        <div class="col-span-2" formGroupName="address">
          <label for="full-name" class="block text-sm font-medium text-gray-400 mb-3">Business Address</label>
          <div class="flex flex-col gap-3">
            <app-text-input [control]="businessAddressLine1Control" placeholder="Enter your business address line 1"
                            title="Line 1"
            ></app-text-input>
            <app-text-input [control]="businessAddressLine2Control" placeholder="Enter your business address line 2"
                            title="Line 2"
            ></app-text-input>
            <div *ngIf="cityItems$ | async as cityItems">
              <app-dropdown [control]="businessCityControl" [items]="cityItems" title="Select a city" placeholder="Select a city"></app-dropdown>
            </div>
            <div *ngIf="stateItems$ | async as stateItems">
              <app-dropdown [control]="businessStateControl" [items]="stateItems" title="Select a state" placeholder="Select a state"></app-dropdown>
            </div>
<!--            <app-text-input [control]="businessStateControl" placeholder="Enter your business address state"-->
<!--                            title="State"-->
<!--            ></app-text-input>-->
<!--            <app-text-input [control]="businessCityControl" placeholder="Enter your business address city" title="City"-->
<!--            ></app-text-input>-->
            <app-zipcode-input [control]="businessZipcodeControl" placeholder="Enter your business address zipcode"
                               title="Zipcode"></app-zipcode-input>
          </div>
        </div>
        <div class="col-span-2">
          <app-text-input [control]="businessWebsiteControl" placeholder="Enter your business website" title="Website"
          ></app-text-input>
        </div>
      </ng-container>
      <ng-container formGroupName="social_media">
        <div class="col-span-2">
          <app-text-input title="Facebook link" placeholder="Enter your facebook link"
                          [control]="facebookControl"></app-text-input>
        </div>
        <div class="col-span-2">
          <app-text-input title="Instagram link" placeholder="Enter your instagram link"
                          [control]="instagramControl"></app-text-input>
        </div>
        <div class="col-span-2">
          <app-text-input title="Twitter link" placeholder="Enter your twitter link"
                          [control]="instagramControl"></app-text-input>
        </div>
        <div class="col-span-2">
          <app-text-input title="Whatsapp link" placeholder="Enter your whatsapp link"
                          [control]="whatsappControl"></app-text-input>
        </div>
      </ng-container>
      <div class="col-span-2" *ngIf="services$ | async as services">

        <label for="full-name" class="block text-sm font-medium text-gray-900 dark:text-white">Service
          Offered</label>
        <app-dropdown-checkbox [label]="'Select service offered'" [dataList]="services"
                               [formArray]="serviceFormArray"></app-dropdown-checkbox>
      </div>
      <div class="col-span-2" *ngIf="states$ | async as states">
        <label for="full-name" class="block text-sm font-medium text-gray-900 dark:text-white">Service
          Coverage</label>
        <app-dropdown-checkbox [label]="'Select service coverage'" [dataList]="states"
                               [formArray]="stateCoverageFormArray"></app-dropdown-checkbox>
      </div>
    </div>
    <div class="flex space-x-3">
      <button [disabled]="isSubmitting" type="button" (click)="back()"
              class="text-center items-center w-full py-2.5 sm:py-3.5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
        Prev: Tell me more
      </button>
      <button [disabled]="isSubmitting" type="button"
              class="w-full text-white bg-rose-600 hover:bg-rose-700 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 sm:py-3.5 text-center dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-rose-800"
              (click)="nextStep()">
        <svg *ngIf="isSubmitting" aria-hidden="true" role="status"
             class="inline w-4 h-4 me-3 text-gray-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor"/>
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="#1C64F2"/>
        </svg>
        Next: Document
      </button>
    </div>
  </form>

</div>
