<div class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-4 lg:grid-cols-4 gap-x-10 gap-y-10 flex-wrap pb-10">
  <div class="flex justify-between flex-col max-w-lg border-2 w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="flex justify-between pb-4 mb-4 border-b border-gray-200 dark:border-gray-700">
      <div class="flex items-center">
        <div class="w-12 h-12 rounded-lg bg-gray-100 dark:bg-gray-700 flex items-center justify-center me-3">
          <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
               fill="currentColor" viewBox="0 0 20 19">
            <path
              d="M14.5 0A3.987 3.987 0 0 0 11 2.1a4.977 4.977 0 0 1 3.9 5.858A3.989 3.989 0 0 0 14.5 0ZM9 13h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z"/>
            <path
              d="M5 19h10v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2ZM5 7a5.008 5.008 0 0 1 4-4.9 3.988 3.988 0 1 0-3.9 5.859A4.974 4.974 0 0 1 5 7Zm5 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm5-1h-.424a5.016 5.016 0 0 1-1.942 2.232A6.007 6.007 0 0 1 17 17h2a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5ZM5.424 9H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h2a6.007 6.007 0 0 1 4.366-5.768A5.016 5.016 0 0 1 5.424 9Z"/>
          </svg>
        </div>
        <div>
          <span
            class="text-1xl font-bold leading-none text-gray-900 sm:text-1xl dark:text-white">{{totalAppointments}}</span>
          <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
            Registered Service Provider
          </p>
        </div>
      </div>
    </div>
    <!--    <div class="flex justify-between">-->
    <!--      <div>-->
    <!--        <span-->
    <!--          class="text-1xl font-bold leading-none text-gray-900 sm:text-2xl dark:text-white">{{totalRegisteredServiceProvider}}</span>-->
    <!--        <p class="text-base font-normal text-gray-500 dark:text-gray-400">Registered service provider last {{totalRegisteredServiceProviderFilterControl.getRawValue()}} days</p>-->
    <!--      </div>-->
    <!--&lt;!&ndash;      <div&ndash;&gt;-->
    <!--&lt;!&ndash;        class="flex items-center px-2.5 py-0.5 text-base font-semibold text-green-500 dark:text-green-500 text-center">&ndash;&gt;-->
    <!--&lt;!&ndash;        23%&ndash;&gt;-->
    <!--&lt;!&ndash;        <svg class="w-3 h-3 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 14">&ndash;&gt;-->
    <!--&lt;!&ndash;          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"&ndash;&gt;-->
    <!--&lt;!&ndash;                d="M5 13V1m0 0L1 5m4-4 4 4"/>&ndash;&gt;-->
    <!--&lt;!&ndash;        </svg>&ndash;&gt;-->
    <!--&lt;!&ndash;      </div>&ndash;&gt;-->
    <!--    </div>-->
    <div id="area-chart"></div>
    <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between mt-5">
      <div class="flex justify-between items-center pt-5">
        <!-- Button -->
        <button #toggleServiceProviderMenuButton (click)="toggleServiceProviderMenu()"
          class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-500 rounded-lg hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
          type="button">
          Last {{totalRegisteredServiceProviderFilterControl.getRawValue()}} days
          <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 4 4 4-4"/>
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div #serviceProviderMenu [hidden]="isServiceProviderMenuHidden"
             class="absolute z-50 my-4 text-base list-none bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700 dark:divide-gray-600">
          <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <li>
              <button (click)="setServiceProviderFilter(7)" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 7
                days</button>
            </li>
            <li>
              <button (click)="setServiceProviderFilter(30)"  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 30
                days</button>
            </li>
            <li>
              <button (click)="setServiceProviderFilter(90)"  class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 90
                days</button>
            </li>
          </ul>
        </div>
        <a
          href="#"
          class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 dark:hover:text-blue-500  hover:bg-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-3 py-2">
          View Report
          <svg class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 9 4-4-4-4"/>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <div class="flex justify-between flex-col max-w-lg border-2 w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="flex justify-between pb-4 mb-4 border-b border-gray-200 dark:border-gray-700">
      <div class="flex items-center">
        <div class="w-12 h-12 rounded-lg bg-gray-100 dark:bg-gray-700 flex items-center justify-center me-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-gray-500 dark:text-gray-400">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
          </svg>

        </div>
        <div>
          <span
            class="text-1xl font-bold leading-none text-gray-900 sm:text-1xl dark:text-white">{{totalAppointments}}</span>
          <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
            Appointments
          </p>
        </div>
      </div>
      <div>
        <!--      <span-->
        <!--        class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-md dark:bg-green-900 dark:text-green-300">-->
        <!--        <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"-->
        <!--             viewBox="0 0 10 14">-->
        <!--          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
        <!--                d="M5 13V1m0 0L1 5m4-4 4 4"/>-->
        <!--        </svg>-->
        <!--        42.5%-->
        <!--      </span>-->
      </div>
    </div>
    <div id="appointment-chart"></div>
    <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between mt-5">
      <div class="flex justify-between items-center pt-5">
        <!-- Button -->
        <button #toggleAppointmentProviderMenuButton (click)="toggleAppointmentMenu()"
          class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
          type="button">
          Last {{totalAppointmentsFilterControl.getRawValue()}} days
          <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 4 4 4-4"/>
          </svg>
        </button>
        <!-- Dropdown menu -->
        <div #appointmentMenu [hidden]="isAppointmentMenuHidden"
             class="z-10 absolute bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <li>
              <button (click)="setAppointmentFilter(7)" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 7
                days</button>
            </li>
            <li>
              <button (click)="setAppointmentFilter(30)" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 30
                days</button>
            </li>
            <li>
              <button (click)="setAppointmentFilter(90)" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 90
                days</button>
            </li>
          </ul>
        </div>
        <a
          href="#"
          class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 dark:hover:text-blue-500  hover:bg-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-3 py-2">
          View Report
          <svg class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 9 4-4-4-4"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-between max-w-lg border-2 w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="flex justify-between border-b border-gray-200 dark:border-gray-700">
      <div class="flex items-center">
        <div class="w-12 h-12 rounded-lg bg-gray-100 dark:bg-gray-700 flex items-center justify-center me-3">
          <svg class="w-6 h-6 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
               fill="currentColor" viewBox="0 0 20 19">
            <path
              d="M14.5 0A3.987 3.987 0 0 0 11 2.1a4.977 4.977 0 0 1 3.9 5.858A3.989 3.989 0 0 0 14.5 0ZM9 13h2a4 4 0 0 1 4 4v2H5v-2a4 4 0 0 1 4-4Z"/>
            <path
              d="M5 19h10v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2ZM5 7a5.008 5.008 0 0 1 4-4.9 3.988 3.988 0 1 0-3.9 5.859A4.974 4.974 0 0 1 5 7Zm5 3a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm5-1h-.424a5.016 5.016 0 0 1-1.942 2.232A6.007 6.007 0 0 1 17 17h2a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5ZM5.424 9H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h2a6.007 6.007 0 0 1 4.366-5.768A5.016 5.016 0 0 1 5.424 9Z"/>
          </svg>
        </div>
        <div>
          <span
            class="text-1xl font-bold leading-none text-gray-900 sm:text-1xl dark:text-white">{{totalCustomers}}</span>
          <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
            Registered Customer
          </p>
        </div>
      </div>
    </div>
    <div id="customer-chart"></div>
    <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between mt-5">
      <div class="flex justify-between items-center pt-5">
        <!-- Button -->
        <button (click)="toggleCustomerMenu()"
          #toggleCustomerMenuButton
          class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
          type="button">
          Last {{totalCustomersFilterControl.getRawValue()}} days
          <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
               viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 1 4 4 4-4"/>
          </svg>
        </button>
        <div #customerMenu [hidden]="isCustomerMenuHidden"
             class="absolute z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
            <li>
              <button (click)="setCustomerFilter(7)" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 7
                days</button>
            </li>
            <li>
              <button (click)="setCustomerFilter(30)" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 30
                days</button>
            </li>
            <li>
              <button (click)="setCustomerFilter(90)" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 90
                days</button>
            </li>
          </ul>
        </div>
        <a
          href="#"
          class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 dark:hover:text-blue-500  hover:bg-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-3 py-2">
          View Report
          <svg class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 9 4-4-4-4"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-between max-w-lg border-2 w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
    <div class="flex justify-between pb-4 mb-4 border-b border-gray-200 dark:border-gray-700">
      <div class="flex items-center">
        <div class="w-12 h-12 rounded-lg bg-gray-100 dark:bg-gray-700 flex items-center justify-center me-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 text-gray-500 dark:text-gray-400">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
          </svg>
        </div>
        <div>
          <span
            class="text-1xl font-bold leading-none text-gray-900 sm:text-1xl dark:text-white">{{totalOrders | currency : 'MYR '}}</span>
          <p class="text-sm font-normal text-gray-500 dark:text-gray-400">
            Order Sales
          </p>
        </div>
      </div>
      <div>
        <!--      <span-->
        <!--        class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-md dark:bg-green-900 dark:text-green-300">-->
        <!--        <svg class="w-2.5 h-2.5 me-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"-->
        <!--             viewBox="0 0 10 14">-->
        <!--          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
        <!--                d="M5 13V1m0 0L1 5m4-4 4 4"/>-->
        <!--        </svg>-->
        <!--        42.5%-->
        <!--      </span>-->
      </div>
    </div>
    <div id="sales-chart"></div>
    <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between mt-5">
      <div class="flex justify-between items-center pt-5">
        <!-- Button -->
<!--        <button-->
<!--          id="dropdownDefaultButton"-->
<!--          data-dropdown-toggle="lastDaysdropdown"-->
<!--          data-dropdown-placement="bottom"-->
<!--          class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"-->
<!--          type="button">-->
<!--          Last 7 days-->
<!--          <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"-->
<!--               viewBox="0 0 10 6">-->
<!--            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"-->
<!--                  d="m1 1 4 4 4-4"/>-->
<!--          </svg>-->
<!--        </button>-->
        <!-- Dropdown menu -->
<!--        <div id="lastDaysdropdown"-->
<!--             class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">-->
<!--          <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">-->
<!--            <li>-->
<!--              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Yesterday</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#"-->
<!--                 class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Today</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 7-->
<!--                days</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 30-->
<!--                days</a>-->
<!--            </li>-->
<!--            <li>-->
<!--              <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Last 90-->
<!--                days</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </div>-->
        <a
          href="#"
          class="uppercase text-sm font-semibold inline-flex items-center rounded-lg text-blue-600 hover:text-blue-700 dark:hover:text-blue-500  hover:bg-gray-100 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 px-3 py-2">
          View Report
          <svg class="w-2.5 h-2.5 ms-1.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
               fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="m1 9 4-4-4-4"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <!--  <ng-container *ngIf="count$ | async as count;">-->
  <!--  <div class="shadow-md p-7">-->
  <!--    <div class="d-flex">-->
  <!--      <div>-->
  <!--        <div class="h6 text-lg">Total User Registered</div>-->
  <!--        <div class=" weight-bold h6" [countUp]="count[0]" [duration]="10000"></div>-->
  <!--      </div>-->
  <!--      <div class="ms-auto">-->
  <!--        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-14 h-14 text-blue-400">-->
  <!--          <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />-->
  <!--        </svg>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="shadow-xl p-7">-->
  <!--    <div class="d-flex">-->
  <!--      <div>-->
  <!--        <div class="h6  text-lg">Total Transaction</div>-->
  <!--        <div class=" weight-bold h6" [countUp]="count[1]" [duration]="10000"></div>-->
  <!--      </div>-->
  <!--      <div class="ms-auto">-->
  <!--        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-14 h-14 text-green-600">-->
  <!--          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m-3-2.818.879.659c1.171.879 3.07.879 4.242 0 1.172-.879 1.172-2.303 0-3.182C13.536 12.219 12.768 12 12 12c-.725 0-1.45-.22-2.003-.659-1.106-.879-1.106-2.303 0-3.182s2.9-.879 4.006 0l.415.33M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />-->
  <!--        </svg>-->

  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="shadow-xl p-7">-->
  <!--    <div class="d-flex">-->
  <!--      <div>-->
  <!--        <div class="h6 text-lg">Total Orders</div>-->
  <!--        <div class=" weight-bold h6" [countUp]="count[2]" [duration]="10000"></div>-->
  <!--      </div>-->
  <!--      <div class="ms-auto">-->
  <!--        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-14 h-14 text-amber-800">-->
  <!--          <path stroke-linecap="round" stroke-linejoin="round" d="m21 7.5-9-5.25L3 7.5m18 0-9 5.25m9-5.25v9l-9 5.25M3 7.5l9 5.25M3 7.5v9l9 5.25m0-9v9" />-->
  <!--        </svg>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="shadow-xl p-7">-->
  <!--    <div class="d-flex">-->
  <!--      <div>-->
  <!--        <div class="h6 text-lg">Total Delivery</div>-->
  <!--        <div class=" weight-bold h6" [countUp]="200" [duration]="10000"></div>-->
  <!--      </div>-->
  <!--      <div class="ms-auto">-->
  <!--        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-14 h-14 text-gray-500">-->
  <!--          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />-->
  <!--        </svg>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  </ng-container>-->
  <div
    class="grid-cols-subgrid col-span-1 p-7 bg-white rounded-lg shadow dark:bg-gray-800 sm:col-span-4 lg:col-span-4 md:col-span-4 border-2">
    <app-bar-chart [labels]="labels" [data]="(statistic$ | async) || []"></app-bar-chart>
  </div>
  <div class="grid-cols-subgrid col-span-1 shadow-md p-7 sm:col-span-4 lg:col-span-4 md:col-span-4 rounded-lg border-2">
    <app-table layout="list" [columns]="columns" [data]="userPageable$ | async"></app-table>
  </div>
</div>


<!--<iframe-->
<!--  width="600"-->
<!--  height="450"-->
<!--  style="border:0"-->
<!--  loading="lazy"-->
<!--  allowfullscreen-->
<!--  referrerpolicy="no-referrer-when-downgrade"-->
<!--  src="https://www.google.com/maps/embed/v1/place?key=API_KEY-->
<!--    &q=Space+Needle,Seattle+WA">-->
<!--</iframe>-->
