<div class="w-full">
  <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to your account</h2>
  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="space-y-4 md:space-y-6">
      <button (click)="loginWithProviders('GOOGLE')" type="button"
              class="text-white w-full bg-[#4285F4] hover:bg-[#4285F4]/90 focus:ring-4 focus:outline-none focus:ring-[#4285F4]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#4285F4]/55 me-2 mb-2">
        <div class="flex justify-center items-center w-full">
          <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
               viewBox="0 0 18 19">
            <path fill-rule="evenodd"
                  d="M8.842 18.083a8.8 8.8 0 0 1-8.65-8.948 8.841 8.841 0 0 1 8.8-8.652h.153a8.464 8.464 0 0 1 5.7 2.257l-2.193 2.038A5.27 5.27 0 0 0 9.09 3.4a5.882 5.882 0 0 0-.2 11.76h.124a5.091 5.091 0 0 0 5.248-4.057L14.3 11H9V8h8.34c.066.543.095 1.09.088 1.636-.086 5.053-3.463 8.449-8.4 8.449l-.186-.002Z"
                  clip-rule="evenodd"/>
          </svg>
          <span>Sign in with Google</span>
        </div>
      </button>
    </div>
    <div class="relative flex py-5 items-center">
      <div class="flex-grow border-t border-gray-400"></div>
      <span class="flex-shrink mx-4 text-gray-400">Or Sign In with</span>
      <div class="flex-grow border-t border-gray-400"></div>
    </div>
    <form [formGroup]="loginForm" class="flex flex-col gap-4">
      <div>
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
        <input type="email" name="email" id="email"
               class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-rose-600 focus:border-rose-600 block w-full p-2.5  dark:placeholder-gray-400  dark:focus:ring-rose-600 dark:focus:border-rose-600"
               placeholder="name@company.com"
               [ngClass]="emailAddressControl.touched && emailAddressControl.errors ? 'ring-1 ring-rose-600' : ''"
               formControlName="email_address">
        <span *ngIf="(emailAddressControl.hasError('required')) && emailAddressControl.touched"
              class="text-rose-600 text-sm">
                                *Email is required
                              </span>
      </div>
      <div>
        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
        <input type="password" name="password" id="password" placeholder="Password"
               class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-rose-600 focus:border-rose-600 block w-full p-2.5 dark:placeholder-gray-400 dark:focus:ring-rose-600 dark:focus:border-rose-600"
               [ngClass]="passwordControl.touched && passwordControl.errors ? 'ring-1 ring-rose-600' : ''"
               formControlName="password">
        <span *ngIf="(passwordControl.hasError('required')) && passwordControl.touched" class="text-rose-600 text-sm">
                                *Password is required
                              </span>
      </div>
      <div class="flex items-center justify-between py-4">
        <div class="flex items-start">
          <div class="flex items-center h-5">
            <input id="remember" aria-describedby="remember" type="checkbox"
                   class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                   required="">
          </div>
          <div class="ml-3 text-sm">
            <label for="remember" class="text-gray-500 dark:text-gray-300">Remember me</label>
          </div>
        </div>
        <a [routerLink]="['../forgot-password']"
           class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Forgot password?</a>
      </div>
      <button type="submit"
              class="w-full text-white bg-rose-600 hover:bg-rose-700 focus:ring-4 focus:outline-none focus:ring-rose-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
              (click)="login()">Sign in
      </button>
      <p class="text-sm font-light text-gray-500 dark:text-gray-400">
        Don’t have an account yet? <a href="#"
                                      class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                                      routerLink="/auth/signup">Sign up</a>
      </p>
    </form>
  </div>
</div>
<!--<div class="container" id="container">-->
<!--  <div class="form-container sign-up">-->
<!--    <form>-->
<!--      <h1>Create Account</h1>-->
<!--      <div class="social-icons">-->
<!--        <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>-->
<!--        <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>-->
<!--        <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>-->
<!--        <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>-->
<!--      </div>-->
<!--      <span>or use your email for registeration</span>-->
<!--      <input type="text" placeholder="Name">-->
<!--      <input type="email" placeholder="Email">-->
<!--      <input type="password" placeholder="Password">-->
<!--      <button>Sign Up</button>-->
<!--    </form>-->
<!--  </div>-->
<!--  <div class="form-container sign-in">-->
<!--    <form [formGroup]="loginForm">-->
<!--      <h1>Sign In</h1>-->
<!--      <div class="social-icons">-->
<!--        <a href="#" class="icon"><i class="fa-brands fa-google-plus-g"></i></a>-->
<!--        <a href="#" class="icon"><i class="fa-brands fa-facebook-f"></i></a>-->
<!--        <a href="#" class="icon"><i class="fa-brands fa-github"></i></a>-->
<!--        <a href="#" class="icon"><i class="fa-brands fa-linkedin-in"></i></a>-->
<!--      </div>-->
<!--      <span>or use your email password</span>-->
<!--      <input type="text" name="email" id="email" placeholder="Email Address"-->
<!--             class="bg-gray-50 border border-gray-300  sm:text-sm rounded-lg focus:ring-rose-600 focus:border-rose-600 block w-full p-2.5"-->
<!--             formControlName="email">-->
<!--      <input type="password" name="password" id="password" placeholder="Password"-->
<!--             class="bg-gray-50 border border-gray-300  sm:text-sm rounded-lg focus:ring-rose-600 focus:border-rose-600 block w-full p-2.5"-->
<!--             formControlName="password" [ngClass]="passwordControl.touched && passwordControl.errors ? 'ring-1 ring-rose-600' : ''">-->
<!--      &lt;!&ndash;        <span *ngIf="(passwordControl.hasError('required')) && passwordControl.touched" class="text-rose-600 text-sm">&ndash;&gt;-->
<!--      &lt;!&ndash;                                *Password is required&ndash;&gt;-->
<!--      &lt;!&ndash;                              </span>&ndash;&gt;-->
<!--      <a href="#">Forget Your Password?</a>-->
<!--      <button (click)="login()">Sign In</button>-->
<!--    </form>-->
<!--  </div>-->
<!--  <div class="toggle-container">-->
<!--    <div class="toggle">-->
<!--      <div class="toggle-panel toggle-left">-->
<!--        <h1>Welcome Back!</h1>-->
<!--        <p>Enter your personal details to use all of site features</p>-->
<!--        <app-button text="Sign In" (click)="switchPage('login')"></app-button>-->
<!--      </div>-->
<!--      <div class="toggle-panel toggle-right">-->
<!--        <h1>Hello, Friend!</h1>-->
<!--        <p>Register with your personal details to use all of site features</p>-->
<!--        <app-button (click)="switchPage('signup')" text="Sign Up"></app-button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

