<div class="row py-5 justify-content-center">
  <div class="col-md-8 col-lg-8 col-sm-8">
    <div class="card shadow p-4 form">
      <div class="card-title">
        <div class="row">
          <div class="col-md-12 col-lg-12 col-sm-12">
            <div>
              <h5 class="title">Confirmation</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row w-100">
          <div class="col-md-12 col-lg-12 col-sm-12 p-0">
            <div class="d-flex justify-content-between flex-wrap">
              <h6 class="subtitle">Appointment Date/Time & Contact Details</h6>
              <button class="btn btn-outline-primary">Change</button>
            </div>
            <div class="row g-2 pb-4">
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="d-flex align-items-center">
                  <div>
                    <fa-icon [icon]="faTest" size="1x" class="me-3"></fa-icon>
                  </div>
                  <div class="">
                    <span class="light-gray">Hello</span>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="d-flex align-items-center">
                  <div>
                    <fa-icon [icon]="faTest" size="1x" class="me-3"></fa-icon>
                  </div>
                  <div class="">
                    <span class="light-gray">Hello</span>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="d-flex align-items-center">
                  <div>
                    <fa-icon [icon]="faTest" size="1x" class="me-3"></fa-icon>
                  </div>
                  <div class="">
                    <span class="light-gray">Hello</span>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="d-flex align-items-center">
                  <div>
                    <fa-icon [icon]="faTest" size="1x" class="me-3"></fa-icon>
                  </div>
                  <div class="">
                    <span class="light-gray">Hello</span>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="d-flex align-items-center">
                  <div>
                    <fa-icon [icon]="faTest" size="1x" class="me-3"></fa-icon>
                  </div>
                  <div class="">
                    <span class="light-gray">Hello</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between flex-wrap">
              <h6 class="subtitle">Request Details</h6>
              <button class="btn btn-outline-primary">Change</button>
            </div>
            <div class="row">
              <div class="col-md-12 col-lg-12 col-sm-12">
                <h6 class="subtitle">What type of aircond requires installation</h6>
                <p class="light-gray">asdasdasd</p>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <h6 class="subtitle">What type of aircond requires installation</h6>
                <p class="light-gray">asdasdasd</p>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <h6 class="subtitle">What type of aircond requires installation</h6>
                <p class="light-gray">asdasdasd</p>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <h6 class="subtitle">What type of aircond requires installation</h6>
                <p class="light-gray">asdasdasd</p>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <h6 class="subtitle">What type of aircond requires installation</h6>
                <p class="light-gray">asdasdasd</p>
              </div>
              <div class="col-md-12 col-lg-12 col-sm-12">
                <h6 class="subtitle">Payment Method</h6>
                <p class="light-gray">Bank</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
