<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
<ng-container *ngIf="paymentIntent$ | async;else loading;">
  <ng-container *ngIf="cart$ | async as cart;else loading;">
    <main class="mx-auto max-w-7xl px-4 pb-24 pt-16 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-7xl lg:max-w-none">
        <h1 class="sr-only">Checkout</h1>

        <form class="lg:grid lg:grid-cols-2 lg:gap-x-12 xl:gap-x-16" [formGroup]="checkoutForm">
          <div>
            <div formGroupName="personal_information">
              <h2 class="text-lg font-medium text-gray-900">Contact information</h2>
              <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
                <div class="mt-4">
                  <label for="first_name" class="block text-sm font-medium text-gray-700">First Name</label>
                  <div class="mt-1">
                    <input type="text" name="first_name" id="first_name" formControlName="first_name"
                           [ngClass]="firstNameControl.touched && firstNameControl.errors ? 'ring-1 ring-red-600' : ''"
                           class="block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm sm:leading-6">
                    <span
                      *ngIf="(firstNameControl.hasError('whitespace') || firstNameControl.hasError('required')) && firstNameControl.touched"
                      class="text-rose-600 text-sm">
                        *First name is required
                      </span>
                  </div>
                </div>
                <div class="mt-4">
                  <label for="last_name" class="block text-sm font-medium text-gray-700">Last Name</label>
                  <div class="mt-1">
                    <input type="text" name="last_name" id="last_name" formControlName="last_name"
                           class="block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm sm:leading-6"
                    [ngClass]="lastNameControl.touched && lastNameControl.errors ? 'ring-1 ring-rose-600' : ''">
                    <span
                      *ngIf="(lastNameControl.hasError('whitespace') || lastNameControl.hasError('required')) && lastNameControl.touched" class="text-rose-600 text-sm">
                        *Last name is required
                      </span>
                  </div>
                </div>
              </div>
              <div class="mt-4">
                <label for="email_address" class="block text-sm font-medium text-gray-700">Email address</label>
                <div class="mt-1">
                  <input type="text" name="price" id="email_address" formControlName="email_address"[ngClass]="emailAddressControl.touched && emailAddressControl.errors ? 'ring-1 ring-rose-600' : ''"
                         class="block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm sm:leading-6">
                  <span
                    *ngIf="(emailAddressControl.hasError('whitespace') || emailAddressControl.hasError('required')) && emailAddressControl.touched" class="text-rose-600 text-sm">
                        *Email address is required
                      </span>
                </div>
              </div>
              <div class="mt-4">
                <label for="phone_number" class="block text-sm font-medium text-gray-700">Phone Number</label>
                <div class="mt-1">
                  <input type="text" name="phone_number" id="phone_number" formControlName="phone_number" [ngClass]="phoneNumberControl.touched && phoneNumberControl.errors ? 'ring-1 ring-rose-600' : ''"
                         class="block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm sm:leading-6"/>
                  <span
                    *ngIf="(phoneNumberControl.hasError('whitespace') || phoneNumberControl.hasError('required')) && phoneNumberControl.touched" class="text-rose-600 text-sm">
                        *Phone number is required
                      </span>
                </div>
              </div>
            </div>

            <div class="mt-10 border-t border-gray-200 pt-10" formGroupName="delivery_address">
              <h2 class="text-lg font-medium text-gray-900">Shipping information</h2>

              <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-4">
                <div class="sm:col-span-2">
                  <label for="address_line_1" class="block text-sm font-medium text-gray-700">Address Line 1</label>
                  <div class="mt-1">
                    <input type="text" name="address_line_1" id="address_line_1" autocomplete="street-address" formControlName="address_line_1"
                           [ngClass]="addressLine1Control.touched && addressLine1Control.errors ? 'ring-1 ring-rose-600' : ''"
                           class="block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm sm:leading-6"/>
                    <span
                      *ngIf="(addressLine1Control.hasError('whitespace') || addressLine1Control.hasError('required')) && addressLine1Control.touched" class="text-rose-600 text-sm">
                        *Address line 1 is required
                      </span>
                  </div>
                </div>

                <div class="sm:col-span-2">
                  <label for="address_line_2" class="block text-sm font-medium text-gray-700">Address Line 2</label>
                  <div class="mt-1">
                    <input type="text" name="address_line_2" id="address_line_2" formControlName="address_line_2"
                           [ngClass]="addressLine2Control.touched && addressLine2Control.errors ? 'ring-1 ring-rose-600' : ''"
                           class="block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm sm:leading-6"/>
                    <span
                      *ngIf="(addressLine2Control.hasError('whitespace') || addressLine2Control.hasError('required')) && addressLine2Control.touched" class="text-rose-600 text-sm">
                        *Address line 2 is required
                      </span>
                  </div>
                </div>

                <div>
                  <label for="city" class="block text-sm font-medium text-gray-700">City</label>
                  <div class="mt-1">
                    <select id="city" name="city" formControlName="city" *ngIf="cities$ | async as cities"
                            [ngClass]="cityControl.touched && cityControl.errors ? 'ring-1 ring-rose-600' : ''"
                            class="block w-full rounded-md border-0 py-2 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm sm:leading-6">
                      <option *ngFor="let city of cities" [value]="city">{{city}}</option>
                    </select>
<!--                    <input type="text" name="city" id="city" autocomplete="address-level2" formControlName="city"-->
<!--                           [ngClass]="cityControl.touched && cityControl.errors ? 'ring-1 ring-rose-600' : ''"-->
<!--                           class="block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm sm:leading-6">-->
                    <span
                      *ngIf="(cityControl.hasError('whitespace') || cityControl.hasError('required')) && cityControl.touched" class="text-rose-600 text-sm">
                        *City is required
                      </span>
                  </div>
                </div>

                <div>
                  <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
                  <div class="mt-1">
                    <select id="country" name="country" autocomplete="country-name"
                            class="block w-full rounded-md border-0 py-2 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm sm:leading-6">
                      <option selected>Malaysia</option>
                    </select>
                  </div>
                </div>

                <div>
                  <label for="state" class="block text-sm font-medium text-gray-700">State / Province</label>
                  <div class="mt-1">
                    <select id="state" name="state"  formControlName="state" *ngIf="states$ | async as states"
                            [ngClass]="stateControl.touched && stateControl.errors ? 'ring-1 ring-rose-600' : ''"
                            class="block w-full rounded-md border-0 py-2 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm sm:leading-6">
                      <option *ngFor="let state of states" [value]="state">{{state}}</option>
                    </select>
<!--                    <input type="text" name="state" id="state" formControlName="state"-->
<!--                           [ngClass]="stateControl.touched && stateControl.errors ? 'ring-1 ring-rose-600' : ''"-->
<!--                           class="block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm sm:leading-6"/>-->
                    <span
                      *ngIf="(stateControl.hasError('whitespace') || stateControl.hasError('required')) && stateControl.touched" class="text-rose-600 text-sm">
                        *State is required
                      </span>
                  </div>
                </div>

                <div>
                  <label for="postcode" class="block text-sm font-medium text-gray-700">Postal code</label>
                  <div class="mt-1">
                    <input type="text" name="postcode" id="postcode" formControlName="zipcode"
                           [ngClass]="zipcodeControl.touched && zipcodeControl.errors ? 'ring-1 ring-rose-600' : ''"
                           class="block w-full rounded-md border-0 py-1.5 pl-3 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-red-600 sm:text-sm sm:leading-6">
                    <span
                      *ngIf="(zipcodeControl.hasError('whitespace') || zipcodeControl.hasError('required')) && zipcodeControl.touched" class="text-rose-600 text-sm">
                        *Postal code is required
                      </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="mt-10 border-t border-gray-200 pt-10" formGroupName="courier" >
              <fieldset>
                <legend class="text-lg font-medium text-gray-900">Delivery method</legend>
                <span
                  *ngIf="deliveryServiceIdControl.hasError('required') && deliveryServiceIdControl.touched" class="text-rose-600 text-sm">
                        *Please select atleast one delivery method
                      </span>

                <div class="mt-4 grid grid-cols-1 gap-y-6 sm:grid-cols-1 sm:gap-x-4">
                  <button [ngClass]="deliveryServiceIdControl.hasError('required') && deliveryServiceIdControl.touched ? 'ring-2 ring-rose-500' : ''"
                         class="relative flex justify-between items-center gap-4 cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none"
                         (click)="openSelectShippingDialog(selectDeliveryMethodDialog)">
<!--                    <input type="radio" [value]="shipment.service_id" class="sr-only"-->
<!--                           formControlName="shipping_method"-->
<!--                           aria-labelledby="delivery-method-1-label"-->
<!--                           aria-describedby="delivery-method-1-description-0 delivery-method-1-description-1">-->
                    <span class="flex flex-1">
                        <img [src]="deliveryCourierLogoControl.getRawValue()" class="object-fit" />
                      </span>
                    <span class="flex flex-col">
                      <span id="delivery-method-1-label" class="block text-sm font-medium text-gray-900 text-end">{{deliveryCourierNameControl.getRawValue()}}</span>
<!--                      <span id="delivery-method-1-description-0" class="mt-1 text-sm text-gray-500 text-end">{{shippingFeesControl.getRawValue() | currency : 'MYR'}}</span>-->
                      <span
                            class="mt-6 text-sm font-medium text-gray-900 text-end">{{courierFeesControl.getRawValue()  | currency : 'MYR'}}</span>
                      <span
                            class="mt-6 text-sm font-medium text-gray-400 text-end" [ngClass]="deliveryServiceIdControl.hasError('required') && deliveryServiceIdControl.touched ? 'text-rose-500' : '' "> {{ deliveryServiceIdControl.getRawValue() ? 'Click to change' : 'Please select delivery method' }} </span>
                  </span>
                    <!-- Not Checked: "hidden" -->
<!--                    <svg class="h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"-->
<!--                         *ngIf="checkoutForm.controls['shipping_method'].getRawValue() === 'Express'">-->
<!--                      <path fill-rule="evenodd"-->
<!--                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"-->
<!--                            clip-rule="evenodd"/>-->
<!--                    </svg>-->
                    <!--
                      Active: "border", Not Active: "border-2"
                      Checked: "border-indigo-500", Not Checked: "border-transparent"
                    -->
                    <span class="pointer-events-none absolute -inset-px rounded-lg border-2" aria-hidden="true"></span>
                  </button>
                  <!--
                    Checked: "border-transparent", Not Checked: "border-gray-300"
                    Active: "ring-2 ring-indigo-500"
                  -->
<!--                  <label-->
<!--                    class="relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none"-->
<!--                    [ngClass]="checkoutForm.controls.shipping_method.getRawValue() === 'Express' ? 'ring-2 ring-indigo-500' : ''">-->
<!--                    <input type="radio" name="delivery-method" value="Express" class="sr-only"-->
<!--                           formControlName="shipping_method"-->
<!--                           aria-labelledby="delivery-method-1-label"-->
<!--                           aria-describedby="delivery-method-1-description-0 delivery-method-1-description-1">-->
<!--                    <span class="flex flex-1">-->
<!--                    <span class="flex flex-col">-->
<!--                      <span id="delivery-method-1-label" class="block text-sm font-medium text-gray-900">Express</span>-->
<!--                      <span id="delivery-method-1-description-0" class="mt-1 flex items-center text-sm text-gray-500">2–5 business days</span>-->
<!--                      <span id="delivery-method-1-description-1"-->
<!--                            class="mt-6 text-sm font-medium text-gray-900">$16.00</span>-->
<!--                    </span>-->
<!--                  </span>-->
<!--                    &lt;!&ndash; Not Checked: "hidden" &ndash;&gt;-->
<!--                    <svg class="h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"-->
<!--                         *ngIf="checkoutForm.controls['shipping_method'].getRawValue() === 'Express'">-->
<!--                      <path fill-rule="evenodd"-->
<!--                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"-->
<!--                            clip-rule="evenodd"/>-->
<!--                    </svg>-->
<!--                    &lt;!&ndash;-->
<!--                      Active: "border", Not Active: "border-2"-->
<!--                      Checked: "border-indigo-500", Not Checked: "border-transparent"-->
<!--                    &ndash;&gt;-->
<!--                    <span class="pointer-events-none absolute -inset-px rounded-lg border-2" aria-hidden="true"></span>-->
<!--                  </label>-->
                </div>
              </fieldset>
            </div>

            <!-- Payment -->
            <div class="mt-10 border-t border-gray-200 pt-10">
              <h2 class="text-lg font-medium text-gray-900">Payment</h2>
              <ngx-stripe-elements *ngIf="elementsOptions.clientSecret"
                                   [stripe]="stripe"
                                   [elementsOptions]="elementsOptions">
                <ngx-stripe-payment [options]="paymentElementOptions" (change)="changePaymentMethod($event)"/>
                <!--    <ngx-stripe-fpx-bank [options]="bankElementOptions"></ngx-stripe-fpx-bank>-->
              </ngx-stripe-elements>

            </div>
          </div>

          <!-- Order summary -->
          <div class="mt-10 lg:mt-0">
            <h2 class="text-lg font-medium text-gray-900">Order summary</h2>

            <div class="mt-4 rounded-lg border border-gray-200 bg-white shadow-sm">
              <h3 class="sr-only">Items in your cart</h3>
              <ul role="list" class="divide-y divide-gray-200">
                <li class="flex px-4 py-6 sm:px-6" *ngFor="let item of cart.items">
                  <div class="flex-shrink-0">
                    <img src="https://tailwindui.com/img/ecommerce-images/checkout-page-02-product-01.jpg"
                         alt="Front of men&#039;s Basic Tee in black." class="w-20 rounded-md">
                  </div>

                  <div class="ml-6 flex flex-1 flex-col">
                    <div class="flex">
                      <div class="min-w-0 flex-1">
                        <h4 class="text-sm">
                          <a href="#" class="font-medium text-gray-700 hover:text-gray-800">{{item.name}}</a>
                        </h4>
                        <p class="mt-1 text-sm text-gray-500">{{item.description}}</p>
                        <p class="mt-1 text-sm text-gray-500">{{item.size}}</p>
                      </div>

                      <div class="ml-4 flow-root flex-shrink-0">
                        <!--                    <button type="button"-->
                        <!--                            class="-m-2.5 flex items-center justify-center bg-white p-2.5 text-gray-400 hover:text-gray-500">-->
                        <!--                      <span class="sr-only">Remove</span>-->
                        <!--                      <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">-->
                        <!--                        <path fill-rule="evenodd"-->
                        <!--                              d="M8.75 1A2.75 2.75 0 006 3.75v.443c-.795.077-1.584.176-2.365.298a.75.75 0 10.23 1.482l.149-.022.841 10.518A2.75 2.75 0 007.596 19h4.807a2.75 2.75 0 002.742-2.53l.841-10.52.149.023a.75.75 0 00.23-1.482A41.03 41.03 0 0014 4.193V3.75A2.75 2.75 0 0011.25 1h-2.5zM10 4c.84 0 1.673.025 2.5.075V3.75c0-.69-.56-1.25-1.25-1.25h-2.5c-.69 0-1.25.56-1.25 1.25v.325C8.327 4.025 9.16 4 10 4zM8.58 7.72a.75.75 0 00-1.5.06l.3 7.5a.75.75 0 101.5-.06l-.3-7.5zm4.34.06a.75.75 0 10-1.5-.06l-.3 7.5a.75.75 0 101.5.06l.3-7.5z"-->
                        <!--                              clip-rule="evenodd"/>-->
                        <!--                      </svg>-->
                        <!--                    </button>-->
                      </div>
                    </div>

                    <div class="flex flex-1 items-end justify-between pt-2">
                      <p class="mt-1 text-sm font-medium text-gray-900">{{item.price}}</p>

                      <div class="ml-4">
                        x{{item.quantity}}
                        <!--                    <select id="quantity" name="quantity"-->
                        <!--                            class="rounded-md border border-gray-300 text-left text-base font-medium text-gray-700 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm">-->
                        <!--                      <option value="1">1</option>-->
                        <!--                      <option value="2">2</option>-->
                        <!--                      <option value="3">3</option>-->
                        <!--                      <option value="4">4</option>-->
                        <!--                      <option value="5">5</option>-->
                        <!--                      <option value="6">6</option>-->
                        <!--                      <option value="7">7</option>-->
                        <!--                      <option value="8">8</option>-->
                        <!--                    </select>-->
                      </div>
                    </div>
                  </div>
                </li>

                <!-- More products... -->
              </ul>
              <dl class="space-y-6 border-t border-gray-200 px-4 py-6 sm:px-6">
                <div class="flex items-center justify-between">
                  <dt class="text-sm">Subtotal</dt>
                  <dd class="text-sm font-medium text-gray-900">{{cart.subtotal | currency : 'MYR'}}</dd>
                </div>
                <div class="flex items-center justify-between">
                  <dt class="text-sm">Shipping</dt>
                  <dd class="text-sm font-medium text-gray-900">{{courierFeesControl.getRawValue() | currency : 'MYR'}}</dd>
                </div>
                <div class="flex items-center justify-between">
                  <dt class="text-sm">Taxes</dt>
                  <dd class="text-sm font-medium text-gray-900">{{0 | currency : 'MYR'}}</dd>
                </div>
                <div class="flex items-center justify-between border-t border-gray-200 pt-6">
                  <dt class="text-base font-medium">Total</dt>
                  <dd class="text-base font-medium text-gray-900">{{cart.total | currency : 'MYR'}}</dd>
                </div>
              </dl>

              <div class="border-t border-gray-200 px-4 py-6 sm:px-6">
                <button type="submit"
                        class="w-full rounded-md border border-transparent bg-rose-600 px-4 py-3 text-base font-medium text-white shadow-sm hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-rose-500 focus:ring-offset-2 focus:ring-offset-gray-50" (click)="pay()">
                  Confirm order
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </main>
  </ng-container>
</ng-container>
<ng-template #selectDeliveryMethodDialog>
  <ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>
  <div [formGroup]="checkoutForm">
    <div *ngIf="shipments$ | async as shipments; else loading" formGroupName="courier">
        <label *ngFor="let shipment of shipments"
               class="relative flex my-3 gap-4 cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none"
               [ngClass]="checkoutForm.controls.courier.controls.service_id.getRawValue() === shipment.service_id ? 'ring-2 ring-rose-500' : ''"
        (click)="selectDelivery(shipment)">
          <input type="radio" [value]="shipment.service_id" class="sr-only"
                 formControlName="service_id">
          <input type="radio" [value]="shipment.price" class="sr-only"
                 formControlName="fees">
          <span class="flex flex-1">
                        <img [src]="shipment.courier_logo" class="object-fit" />
                      </span>
          <span class="flex flex-1">
                    <span class="flex flex-col">
                      <span  class="block text-sm font-medium text-gray-900">{{shipment.courier_name}}</span>
                      <span  class="mt-1 flex items-center text-sm text-gray-500">{{shipment.delivery}}</span>
                      <span
                            class="mt-6 text-sm font-medium text-gray-900">{{shipment.price | currency : 'MYR'}}</span>
                    </span>
                  </span>
          <!-- Not Checked: "hidden" -->
<!--          <svg class="h-5 w-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"-->
<!--               *ngIf="checkoutForm.controls['shipping_method'].getRawValue() === 'Express'">-->
<!--            <path fill-rule="evenodd"-->
<!--                  d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"-->
<!--                  clip-rule="evenodd"/>-->
<!--          </svg>-->
          <!--
            Active: "border", Not Active: "border-2"
            Checked: "border-indigo-500", Not Checked: "border-transparent"
          -->
          <span class="pointer-events-none absolute -inset-px rounded-lg border-2" aria-hidden="true"></span>
        </label>
      </div>
  </div>
</ng-template>

