<form class="row g-4" [formGroup]="basicInfoForm" (ngSubmit)="submitBasicInfo()">
  <ng-container formGroupName="business_details">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12">
          <label [tuiLabel]="label">
          </label>
          <ng-template #label>
      <span>
        Business Name
      </span>
            <tui-tooltip
              content="This is the name"
              describeId="uniqueId"
              direction="top-right"
            ></tui-tooltip>
          </ng-template>
        </div>
        <div class="col-md-9 col-lg-9 col-sm-12">
          <tui-input
            tuiTextfieldSize="m"
            [tuiTextfieldCleaner]="true"
            formControlName="name"
          >
            Enter business name
            <input
              tuiTextfield
              type="text"
            />
          </tui-input>
          <tui-error
            formControlName="name"
            [error]="[] | tuiFieldError | async"
          ></tui-error>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12">
          <label [tuiLabel]="businessEmailLabel">
          </label>
          <ng-template #businessEmailLabel>
      <span>
        Business Email
      </span>
            <tui-tooltip
              content="This is the name"
              describeId="uniqueId"
              direction="top-right"
            ></tui-tooltip>
          </ng-template>
        </div>
        <div class="col-md-9 col-lg-9 col-sm-12">
          <tui-input
            tuiTextfieldSize="m"
            [tuiTextfieldCleaner]="true"
            formControlName="email_address"
          >
            Enter business email
            <input
              tuiTextfield
              type="text"
            />
          </tui-input>
          <tui-error
            formControlName="email_address"
            [error]="[] | tuiFieldError | async"
          ></tui-error>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12">
          <label [tuiLabel]="businessLocationLabel">
          </label>
          <ng-template #businessLocationLabel>
      <span>
        Business Location
      </span>
            <tui-tooltip
              content="This is the name"
              describeId="uniqueId"
              direction="top-right"
            ></tui-tooltip>
          </ng-template>
        </div>
        <div class="col-md-9 col-lg-9 col-sm-12">
          <div class="row g-2">
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="row g-2">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <label>
                    Add Location
                  </label>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <tui-input
                    formControlName="address"
                    tuiTextfieldSize="m"
                    [tuiTextfieldCleaner]="true"
                  >
                    Enter business address
                    <input
                      tuiTextfield
                      type="text"
                    />
                  </tui-input>
                  <tui-error
                    formControlName="address"
                    [error]="[] | tuiFieldError | async"
                  ></tui-error>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12">
          <label [tuiLabel]="businesssDescriptionLabel">
          </label>
          <ng-template #businesssDescriptionLabel>
      <span>
        Business Description (Optional)
      </span>
            <tui-tooltip
              content="This is the name"
              describeId="uniqueId"
              direction="top-right"
            ></tui-tooltip>
          </ng-template>
        </div>
        <div class="col-md-9 col-lg-9 col-sm-12">
          <tui-textarea
            formControlName="description"
            class="tui-space_top-4"
            tuiTextfieldSize="m"
            [expandable]="true"
          >
            Type business description
          </tui-textarea>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container formGroupName="service_details">
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-12">
          <label [tuiLabel]="serviceOffered">
          </label>
          <ng-template #serviceOffered>
      <span>
        Services Offered
      </span>
            <tui-tooltip
              content="This is the name1"
              describeId="uniqueId"
              direction="top-right"
            ></tui-tooltip>
          </ng-template>
        </div>
        <div class="col-md-9 col-lg-9 col-sm-12">
          <tui-multi-select
            *tuiLet="services$ | async as services"
            class="b-form"
            formControlName="type_of_services"
            [editable]="false"
            [tuiTextfieldLabelOutside]="true"
            tuiTextfieldSize="m"
            [stringify]="serviceStringify"
          >
            Choose your services
            <tui-data-list-wrapper
              *tuiDataList
              [items]="services | tuiHideSelected"
              [itemContent]="serviceStringify"
            ></tui-data-list-wrapper>
          </tui-multi-select>
          <tui-error
            formControlName="type_of_services"
            [error]="[] | tuiFieldError | async"
          ></tui-error>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div class="row" formGroupName="coverage">
        <div class="col-md-3 col-lg-3 col-sm-12">
          <label [tuiLabel]="serviceCoverage">
          </label>
          <ng-template #serviceCoverage>
      <span>
        Services Coverage
      </span>
            <tui-tooltip
              content="This is the name1"
              describeId="uniqueId"
              direction="top-right"
            ></tui-tooltip>
          </ng-template>
        </div>
        <div class="col-md-9 col-lg-9 col-sm-12">
          <div class="row g-2">
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="row g-2">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <label>
                    Country
                  </label>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <tui-multi-select
                    *tuiLet="countries$ | async as countries"
                    class="b-form"
                    formControlName="countries"
                    [editable]="false"
                    [tuiTextfieldLabelOutside]="true"
                    tuiTextfieldSize="m"
                  >
                    Choose your country
                    <tui-data-list-wrapper
                      *tuiDataList
                      [items]="countries | tuiHideSelected"
                    ></tui-data-list-wrapper>
                  </tui-multi-select>
                  <tui-error
                    formControlName="countries"
                    [error]="[] | tuiFieldError | async"
                  ></tui-error>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="row g-2">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <label>
                    State
                  </label>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <tui-multi-select
                    *tuiLet="states$ | async as states"
                    class="b-form"
                    formControlName="states"
                    [editable]="false"
                    [tuiTextfieldLabelOutside]="true"
                    tuiTextfieldSize="m"
                  >
                    Choose your states
                    <tui-data-list-wrapper
                      *tuiDataList
                      [items]="states | tuiHideSelected"
                    ></tui-data-list-wrapper>
                  </tui-multi-select>
                  <tui-error
                    formControlName="states"
                    [error]="[] | tuiFieldError | async"
                  ></tui-error>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="row g-2">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <label>
                    City
                  </label>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <tui-multi-select
                    *tuiLet="cities$ | async as cities"
                    formControlName="cities"
                    [editable]="false"
                    [tuiTextfieldLabelOutside]="true"
                    tuiTextfieldSize="m"
                  >
                    Choose your cities
                    <tui-data-list-wrapper
                      *tuiDataList
                      [items]="cities | tuiHideSelected"
                    ></tui-data-list-wrapper>
                  </tui-multi-select>
                  <tui-error
                    formControlName="cities"
                    [error]="[] | tuiFieldError | async"
                  ></tui-error>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-12 col-sm-12">
      <div class="row" formGroupName="contact_info">
        <div class="col-md-3 col-lg-3 col-sm-12">
          <label [tuiLabel]="contactInfo">
          </label>
          <ng-template #contactInfo>
      <span>
        Contact Details
      </span>
            <tui-tooltip
              content="This is the name1"
              describeId="uniqueId"
              direction="top-right"
            ></tui-tooltip>
          </ng-template>
        </div>
        <div class="col-md-9 col-lg-9 col-sm-12">
          <div class="row g-2">
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="row g-2">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <label>
                    Email
                  </label>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <tui-input
                    tuiTextfieldSize="m"
                    [tuiTextfieldCleaner]="true"
                    formControlName="email_address"
                  >
                    Enter email address
                    <input
                      autocomplete="email"
                      tuiTextfield
                      type="email"
                    />
                  </tui-input>
                  <tui-error
                    formControlName="email_address"
                    [error]="[] | tuiFieldError | async"
                  ></tui-error>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="row g-2">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <label>
                    Phone Number
                  </label>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <tui-input
                    tuiTextfieldSize="m"
                    [tuiTextfieldCleaner]="true"
                    formControlName="phone_number"
                  >
                    Enter phone number
                    <input
                      tuiTextfield
                      type="text"
                    />
                  </tui-input>
                  <tui-error
                    formControlName="phone_number"
                    [error]="[] | tuiFieldError | async"
                  ></tui-error>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="row g-2">
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <label>
                    Whatsapp Phone Number
                  </label>
                </div>
                <div class="col-md-12 col-lg-12 col-sm-12">
                  <tui-input
                    formControlName="whatsapp"
                    tuiTextfieldSize="m"
                    [tuiTextfieldCleaner]="true"
                  >
                    Enter whatsapp phone number
                    <input
                      tuiTextfield
                      type="text"
                    />
                  </tui-input>
                  <tui-error
                    formControlName="whatsapp"
                    [error]="[] | tuiFieldError | async"
                  ></tui-error>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="d-flex justify-content-between">
      <a></a>
      <button class="btn btn-primary" type="submit">Next
      </button>
    </div>
  </div>
</form>
